#header {
  min-height: 12vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #ffffff;
}
#header .nav-toggle {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  justify-self: start;
}
#header .nav-toggle .menu {
  justify-self: start;
}
#header .nav-toggle .close {
  justify-self: start;
  width: 25px;
  height: 25px;
}
#header .nav-toggle #menu_open:checked ~ #nav {
  transform: translateX(0);
}
#header .logo-link {
  justify-self: center;
}
#header .logo-link .logo {
  color: #003349;
}
#header #nav {
  width: 50%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 400px;
  position: absolute;
  top: 100%;
  left: 0;
  height: 576px;
  background-color: #ffffff;
  padding-left: 16px;
  transform: translateX(-700px);
}
#header #nav .primary-nav {
  display: grid;
  place-items: center;
  width: 100%;
  align-self: start;
}
#header #nav .primary-nav .nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(5, 1fr);
  height: 32vh;
  justify-self: start;
  align-self: start;
  width: 100%;
}
#header #nav .primary-nav .nav-list .nav-items {
  color: #003349;
  font-weight: 900;
  align-self: end;
  justify-self: start;
}
#header #nav .primary-nav .nav-list .nav-items a {
  text-decoration: none;
  color: #003349;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  height: 0;
  padding-bottom: 12.6px;
}
#header #nav .primary-nav .nav-list .nav-items a:active {
  color: #f4f9ff;
}
#header #nav .primary-nav .nav-list .nav-items a:hover {
  color: #cd212a;
}
#header #nav .primary-nav .nav-list .nav-items a::after {
  content: "";
  width: 100%;
  height: 2.16px;
  background-color: #cd212a;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform ease-in;
  transition: transform 0.5s;
}
#header #nav .primary-nav .nav-list .nav-items a:hover::after {
  transform: scaleX(1);
}
#header #nav .secondary-nav {
  width: 100%;
  display: grid;
  place-items: center;
  align-self: end;
}
#header #nav .secondary-nav .social-list {
  width: 100%;
  background-color: #ffffff;
  font-weight: 900;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(51px, 1fr));
}
#header #nav .secondary-nav .social-list .social-item {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}
#header #nav .secondary-nav .social-list .social-item a {
  text-decoration: none;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
#header #nav .secondary-nav .social-list .social-item a img {
  width: 40px;
  height: 40px;
}
#header #nav .secondary-nav .nav-login {
  width: 100%;
  min-height: 9vh;
  display: grid;
  place-items: center;
  justify-items: center;
  justify-self: start;
  grid-auto-flow: column;
  min-height: 12vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  margin-top: 12px;
}
#header #nav .secondary-nav .nav-login .login-link {
  display: grid;
  place-items: center;
  justify-self: start;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
  color: #cd212a;
  font-weight: 900;
  text-decoration: none;
}
#header #nav .secondary-nav .nav-login .login-link img {
  width: 20px;
  height: 20px;
  justify-self: start;
  fill: #cd212a;
}
#header #nav .secondary-nav .nav-login button {
  background-color: #cd212a;
  border: none;
  color: #f4f9ff;
  background-color: #cd212a;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 900;
  padding: 8px 8px;
}
#header .cart {
  justify-self: end;
}

@media only screen and (min-width: 1000px) {
  #header {
    grid-auto-flow: column;
    grid-template-columns: 19% 70% 5%;
    position: sticky;
    top: 0px;
    z-index: 12;
    background-color: #ffffff;
  }
  #header .hamburger {
    display: none;
  }
  #header .logo-link {
    align-self: end;
  }
  #header .logo-link .logo {
    height: 79px;
  }
  #header #nav {
    width: 100%;
    place-items: end;
    grid-template-rows: 1fr;
    position: static;
    padding-left: 0;
    transform: translateX(0);
    height: 120px;
  }
  #header #nav .primary-nav {
    order: 2;
  }
  #header #nav .primary-nav .nav-list {
    grid-auto-flow: column;
    height: auto;
    width: 100%;
    gap: 32px;
  }
  #header #nav .primary-nav .nav-list .nav-items {
    font-weight: 900;
    align-self: center;
    justify-self: end;
    padding-bottom: 18px;
  }
  #header #nav .primary-nav .nav-list .nav-items a {
    padding-bottom: 34.6px;
  }
  #header #nav .secondary-nav {
    width: 41%;
    place-items: start;
    grid-template-columns: 1fr;
    justify-self: end;
    align-self: start;
  }
  #header #nav .secondary-nav .social-list {
    width: 38%;
    font-weight: 900;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(33px, 1fr));
    justify-self: end;
    display: none;
  }
  #header #nav .secondary-nav .nav-login {
    width: 67%;
    justify-self: end;
    min-height: auto;
    grid-template-rows: 1fr;
    justify-items: start;
    margin-top: 0;
  }
  #header #nav .secondary-nav .nav-login .login-link {
    justify-self: end;
    grid-template-columns: repeat(auto-fill, minmax(26px, 1fr));
    align-self: start;
    align-self: center;
    margin-right: 10px;
    width: 63px;
  }
  #header #nav .secondary-nav .nav-login button {
    align-self: end;
  }
  #header .cart {
    align-self: start;
  }
}
#footer {
  list-style: none;
  text-decoration: none;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: #ffffff;
}
#footer #main-footer {
  margin-top: 14px;
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}
#footer #main-footer #footer-nav,
#footer #main-footer #activity {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
  margin-top: 3px;
}
#footer #main-footer #footer-nav .footerLogo-link,
#footer #main-footer #activity .footerLogo-link {
  text-decoration: none;
}
#footer #main-footer #footer-nav .nav-title,
#footer #main-footer #footer-nav .activity-title,
#footer #main-footer #activity .nav-title,
#footer #main-footer #activity .activity-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #cd212a;
}
#footer #main-footer #footer-nav .footerNav-list,
#footer #main-footer #footer-nav .activity-list,
#footer #main-footer #activity .footerNav-list,
#footer #main-footer #activity .activity-list {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  font-size: 0.9rem;
  font-weight: 400;
  list-style: none;
}
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .footerNav-link,
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .activity-link,
#footer #main-footer #footer-nav .footerNav-list .activity-items .footerNav-link,
#footer #main-footer #footer-nav .footerNav-list .activity-items .activity-link,
#footer #main-footer #footer-nav .activity-list .footerNav-item .footerNav-link,
#footer #main-footer #footer-nav .activity-list .footerNav-item .activity-link,
#footer #main-footer #footer-nav .activity-list .activity-items .footerNav-link,
#footer #main-footer #footer-nav .activity-list .activity-items .activity-link,
#footer #main-footer #activity .footerNav-list .footerNav-item .footerNav-link,
#footer #main-footer #activity .footerNav-list .footerNav-item .activity-link,
#footer #main-footer #activity .footerNav-list .activity-items .footerNav-link,
#footer #main-footer #activity .footerNav-list .activity-items .activity-link,
#footer #main-footer #activity .activity-list .footerNav-item .footerNav-link,
#footer #main-footer #activity .activity-list .footerNav-item .activity-link,
#footer #main-footer #activity .activity-list .activity-items .footerNav-link,
#footer #main-footer #activity .activity-list .activity-items .activity-link {
  color: #003349;
  text-decoration: none;
}
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .activity-link:hover,
#footer #main-footer #footer-nav .footerNav-list .activity-items .footerNav-link:hover,
#footer #main-footer #footer-nav .footerNav-list .activity-items .activity-link:hover,
#footer #main-footer #footer-nav .activity-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #footer-nav .activity-list .footerNav-item .activity-link:hover,
#footer #main-footer #footer-nav .activity-list .activity-items .footerNav-link:hover,
#footer #main-footer #footer-nav .activity-list .activity-items .activity-link:hover,
#footer #main-footer #activity .footerNav-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #activity .footerNav-list .footerNav-item .activity-link:hover,
#footer #main-footer #activity .footerNav-list .activity-items .footerNav-link:hover,
#footer #main-footer #activity .footerNav-list .activity-items .activity-link:hover,
#footer #main-footer #activity .activity-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #activity .activity-list .footerNav-item .activity-link:hover,
#footer #main-footer #activity .activity-list .activity-items .footerNav-link:hover,
#footer #main-footer #activity .activity-list .activity-items .activity-link:hover {
  color: #cd212a;
}
#footer #main-footer #contact-us {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
}
#footer #main-footer #contact-us .contact-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #cd212a;
}
#footer #main-footer #contact-us .contact-info {
  font-size: 0.9rem;
  width: 90%;
  color: #003349;
}
#footer #main-footer #contact-us .contact-info .contact-infoLink {
  color: #cd212a;
  font-weight: bolder;
}
#footer #main-footer #contact-us .contact-info .contact-infoLink:hover {
  color: #ff3c00;
}
#footer #main-footer #contact-us .social-list {
  list-style: none;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(3, 1fr);
}
#footer #main-footer #contact-us .social-list .social-item {
  padding: 5px;
}
#footer #main-footer #contact-us .social-list .social-item .social-link {
  width: 400px;
}
#footer #main-footer #contact-us .social-list .social-item .social-link .social-img {
  width: 30px;
  height: 30px;
}
#footer #main-footer #subscribe {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
}
#footer #main-footer #subscribe .subscribe-title {
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #cd212a;
}
#footer #main-footer #subscribe .subscribe-info {
  text-align: center;
  font-size: 0.9rem;
  width: 90%;
  color: #003349;
}
#footer #main-footer #subscribe form {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  height: 11vh;
}
#footer #main-footer #subscribe form input {
  min-height: 10px;
  border-radius: 6px;
  padding: 8px;
  background-color: #f6f6f6;
  border: 1px solid #ffffff;
  color: #003349;
}
#footer #main-footer #subscribe form button {
  background-color: #cd212a;
  border: none;
  width: 62px;
  padding: 6px;
  color: #f4f9ff;
  border-radius: 6px;
}
#footer .copy-right {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  justify-self: start;
  margin: 16px 0;
  width: 100%;
  text-align: start;
}
#footer .copy-right .copy-body {
  font-size: 0.6rem;
  color: #003349;
}
#footer .copy-right .copy-body:hover {
  color: #cd212a;
}
#footer .copy-right .copy-tearms {
  font-size: 0.6rem;
  justify-self: start;
  color: #003349;
}
#footer .copy-right .copy-tearms:hover {
  color: #cd212a;
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
  #footer {
    padding: 16px;
    align-items: start;
  }
  #footer .footerLogo-link {
    text-decoration: none;
    justify-self: start;
  }
  #footer #main-footer {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
    justify-self: center;
  }
  #footer #main-footer #footer-nav,
  #footer #main-footer #activity {
    align-self: start;
    justify-self: center;
  }
  #footer #main-footer #footer-nav .nav-title,
  #footer #main-footer #footer-nav .activity-title,
  #footer #main-footer #activity .nav-title,
  #footer #main-footer #activity .activity-title {
    justify-self: center;
  }
  #footer #main-footer #footer-nav .footerNav-list,
  #footer #main-footer #footer-nav .activity-list,
  #footer #main-footer #activity .footerNav-list,
  #footer #main-footer #activity .activity-list {
    justify-self: center;
  }
  #footer #main-footer #footer-nav .footerNav-list .footerNav-item,
  #footer #main-footer #footer-nav .footerNav-list .activity-items,
  #footer #main-footer #footer-nav .activity-list .footerNav-item,
  #footer #main-footer #footer-nav .activity-list .activity-items,
  #footer #main-footer #activity .footerNav-list .footerNav-item,
  #footer #main-footer #activity .footerNav-list .activity-items,
  #footer #main-footer #activity .activity-list .footerNav-item,
  #footer #main-footer #activity .activity-list .activity-items {
    justify-self: center;
  }
  #footer #main-footer #footer-nav .footerNav-list .footerNav-item .footerNav-link,
  #footer #main-footer #footer-nav .footerNav-list .footerNav-item .activity-link,
  #footer #main-footer #footer-nav .footerNav-list .activity-items .footerNav-link,
  #footer #main-footer #footer-nav .footerNav-list .activity-items .activity-link,
  #footer #main-footer #footer-nav .activity-list .footerNav-item .footerNav-link,
  #footer #main-footer #footer-nav .activity-list .footerNav-item .activity-link,
  #footer #main-footer #footer-nav .activity-list .activity-items .footerNav-link,
  #footer #main-footer #footer-nav .activity-list .activity-items .activity-link,
  #footer #main-footer #activity .footerNav-list .footerNav-item .footerNav-link,
  #footer #main-footer #activity .footerNav-list .footerNav-item .activity-link,
  #footer #main-footer #activity .footerNav-list .activity-items .footerNav-link,
  #footer #main-footer #activity .footerNav-list .activity-items .activity-link,
  #footer #main-footer #activity .activity-list .footerNav-item .footerNav-link,
  #footer #main-footer #activity .activity-list .footerNav-item .activity-link,
  #footer #main-footer #activity .activity-list .activity-items .footerNav-link,
  #footer #main-footer #activity .activity-list .activity-items .activity-link {
    color: #003349;
    text-decoration: none;
  }
  #footer #main-footer #contact-us .contact-title {
    justify-self: center;
  }
  #footer #main-footer #contact-us .contact-info {
    justify-self: center;
  }
  #footer #main-footer #contact-us .social-list {
    justify-self: center;
  }
  #footer #main-footer #contact-us .social-list .social-item {
    padding: 5px;
  }
  #footer #main-footer #contact-us .social-list .social-item .social-link {
    width: 400px;
  }
  #footer #main-footer #contact-us .social-list .social-item .social-link .social-img {
    width: 30px;
    height: 30px;
  }
  #footer #main-footer #subscribe {
    margin-top: 36px;
  }
  #footer #main-footer #subscribe .subscribe-title {
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #cd212a;
  }
  #footer #main-footer #subscribe .subscribe-info {
    text-align: center;
    font-size: 0.9rem;
    width: 90%;
    color: #003349;
  }
  #footer #main-footer #subscribe form {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    height: 7vh;
  }
  #footer #main-footer #subscribe form input {
    min-height: 10px;
    border-radius: 6px;
    padding: 8px;
    background-color: #f6f6f6;
    border: 1px solid #ffffff;
    color: #003349;
  }
  #footer #main-footer #subscribe form button {
    justify-self: start;
  }
  #footer .copy-right {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    justify-self: start;
    margin: 16px 0;
    width: 100%;
    text-align: start;
  }
  #footer .copy-right .copy-body {
    font-size: 0.6rem;
    color: #003349;
  }
  #footer .copy-right .copy-body:hover {
    color: #cd212a;
  }
  #footer .copy-right .copy-tearms {
    font-size: 0.6rem;
    justify-self: start;
    color: #003349;
  }
  #footer .copy-right .copy-tearms:hover {
    color: #cd212a;
  }
}
@media only screen and (min-width: 1000px) {
  #footer {
    justify-self: center;
  }
  #footer .footerLogo-link {
    justify-self: start;
    margin: 16px;
  }
  #footer #main-footer {
    max-width: 90%;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
  }
  #footer #main-footer #footer-nav,
  #footer #main-footer #activity {
    align-self: start;
    justify-self: start;
  }
  #footer #main-footer #footer-nav .nav-title,
  #footer #main-footer #footer-nav .activity-title,
  #footer #main-footer #activity .nav-title,
  #footer #main-footer #activity .activity-title {
    justify-self: start;
  }
  #footer #main-footer #footer-nav .footerNav-list,
  #footer #main-footer #footer-nav .activity-list,
  #footer #main-footer #activity .footerNav-list,
  #footer #main-footer #activity .activity-list {
    justify-self: start;
  }
  #footer #main-footer #footer-nav .footerNav-list .footerNav-item,
  #footer #main-footer #footer-nav .footerNav-list .activity-items,
  #footer #main-footer #footer-nav .activity-list .footerNav-item,
  #footer #main-footer #footer-nav .activity-list .activity-items,
  #footer #main-footer #activity .footerNav-list .footerNav-item,
  #footer #main-footer #activity .footerNav-list .activity-items,
  #footer #main-footer #activity .activity-list .footerNav-item,
  #footer #main-footer #activity .activity-list .activity-items {
    justify-self: start;
  }
  #footer #main-footer #footer-nav .footerNav-list .footerNav-item .footerNav-link,
  #footer #main-footer #footer-nav .footerNav-list .footerNav-item .activity-link,
  #footer #main-footer #footer-nav .footerNav-list .activity-items .footerNav-link,
  #footer #main-footer #footer-nav .footerNav-list .activity-items .activity-link,
  #footer #main-footer #footer-nav .activity-list .footerNav-item .footerNav-link,
  #footer #main-footer #footer-nav .activity-list .footerNav-item .activity-link,
  #footer #main-footer #footer-nav .activity-list .activity-items .footerNav-link,
  #footer #main-footer #footer-nav .activity-list .activity-items .activity-link,
  #footer #main-footer #activity .footerNav-list .footerNav-item .footerNav-link,
  #footer #main-footer #activity .footerNav-list .footerNav-item .activity-link,
  #footer #main-footer #activity .footerNav-list .activity-items .footerNav-link,
  #footer #main-footer #activity .footerNav-list .activity-items .activity-link,
  #footer #main-footer #activity .activity-list .footerNav-item .footerNav-link,
  #footer #main-footer #activity .activity-list .footerNav-item .activity-link,
  #footer #main-footer #activity .activity-list .activity-items .footerNav-link,
  #footer #main-footer #activity .activity-list .activity-items .activity-link {
    color: #003349;
    text-decoration: none;
  }
  #footer #main-footer #contact-us {
    justify-self: start;
    align-self: start;
  }
  #footer #main-footer #contact-us .contact-title {
    justify-self: start;
    align-self: start;
    text-align: start;
  }
  #footer #main-footer #contact-us .contact-info {
    justify-self: start;
    text-align: start;
  }
  #footer #main-footer #contact-us .social-list {
    justify-self: start;
  }
  #footer #main-footer #contact-us .social-list .social-item {
    padding: 5px;
  }
  #footer #main-footer #contact-us .social-list .social-item .social-link {
    width: 400px;
  }
  #footer #main-footer #contact-us .social-list .social-item .social-link .social-img {
    width: 30px;
    height: 30px;
  }
  #footer #main-footer #subscribe {
    align-self: start;
    justify-self: end;
  }
  #footer #main-footer #subscribe .subscribe-title {
    text-align: end;
    color: #cd212a;
    justify-self: end;
  }
  #footer #main-footer #subscribe .subscribe-info {
    text-align: end;
    justify-self: end;
    width: 81%;
  }
  #footer #main-footer #subscribe form button {
    justify-self: start;
  }
  #footer .copy-right {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    justify-self: start;
    margin: 16px 0;
    width: 100%;
    text-align: start;
  }
  #footer .copy-right .copy-body {
    font-size: 0.6rem;
    color: #003349;
  }
  #footer .copy-right .copy-body:hover {
    color: #cd212a;
  }
  #footer .copy-right .copy-tearms {
    font-size: 0.6rem;
    justify-self: start;
    color: #003349;
  }
  #footer .copy-right .copy-tearms:hover {
    color: #cd212a;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  list-style: none;
  text-decoration: none;
}

/*# sourceMappingURL=blog.css.map */
