/** @format */
#header {
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #eeeeee;
}
#header .logo-link {
  justify-self: center;
  order: 1;
}
#header .logo-link .logo {
  color: #003349;
}

.nav-toggle {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  justify-self: start;
  margin-left: 25px;
}
.nav-toggle .menu_radio_button {
  display: none;
}

.label-close,
.label-open {
  display: grid;
  justify-items: start;
  align-items: end;
}
.label-close .menu,
.label-open .menu {
  justify-self: start;
  width: 15px;
  height: 15px;
}
.label-close .close,
.label-open .close {
  justify-self: start;
  align-self: end;
  width: 100%;
  height: 100%;
}

.label-close {
  display: none;
}

#menu_open:checked ~ .label-open {
  display: none;
}

#menu_open:checked ~ .label-close {
  transform: translateX(0px);
  display: block;
}

#menu_open:checked ~ #nav {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

#menu_close:checked ~ #nav {
  transform: translateX(-1000px);
  transition: transform 1.5s ease-in-out;
}

#nav {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 400px;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  background-color: #eeeeee;
  padding-left: 16px;
  transform: translateX(-1000px);
}
#nav .primary-nav {
  display: grid;
  place-items: center;
  width: 100%;
  align-self: start;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(5, 1fr);
  height: 32vh;
  justify-self: start;
  align-self: start;
  width: 100%;
}
.nav-list .nav-items {
  color: #003349;
  font-weight: 900;
  align-self: end;
  justify-self: start;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  height: 0;
  padding-bottom: 12.6px;
}
.nav-link:active {
  color: #f1f1f1;
}
.nav-link:hover {
  color: #e07714;
}
.nav-link::after {
  content: "";
  width: 100%;
  height: 2.16px;
  background-color: #e07714;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform ease-in;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
}

.secondary-nav {
  width: 100%;
  display: grid;
  place-items: center;
  align-self: end;
}
.secondary-nav .social-list {
  width: 100%;
  background-color: #eeeeee;
  font-weight: 900;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(51px, 1fr));
}

.social-item {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}
.social-item a {
  text-decoration: none;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.social-item a img {
  width: 40px;
  height: 40px;
}

.nav-login {
  width: 90%;
  min-height: 9vh;
  display: grid;
  place-items: center;
  justify-self: start;
  grid-auto-flow: column;
  min-height: 12vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  margin-top: 12px;
}
.nav-login .login-link {
  display: grid;
  place-items: center;
  justify-self: start;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
  color: #e07714;
  font-weight: 900;
  text-decoration: none;
}
.nav-login .login-link img {
  width: 20px;
  height: 20px;
  justify-self: start;
  fill: #e07714;
}

button {
  background-color: #e07714;
  border: none;
  color: #f1f1f1;
  background-color: #003349;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 8px 8px;
  text-align: center;
}
button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  background-color: #e07714;
}
button:active {
  transform: translateY(3px);
  box-shadow: none;
}

.cart {
  justify-self: end;
  order: 2;
  margin-right: 25px;
}

@media only screen and (min-width: 1000px) {
  #header {
    grid-auto-flow: column;
    grid-template-columns: 19% 70% 4%;
  }
  #header .logo-link {
    justify-self: center;
    order: 0;
  }
  #header .logo-link .logo {
    color: #003349;
  }
  .nav-toggle {
    width: 100%;
    place-items: end;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    padding-left: 0;
    margin-left: 0;
  }
  .nav-toggle .menu_radio_button {
    display: none;
  }
  .label-close,
.label-open,
.menu.close {
    display: none;
  }
  #menu_open:checked ~ #nav {
    transform: translateX(0);
    transition: none;
  }
  #menu_close:checked ~ #nav {
    transform: translateX(0);
    transition: none;
  }
  #nav {
    width: 100%;
    place-items: end;
    grid-template-rows: 1fr;
    position: static;
    padding-left: 0;
    transform: translateX(0);
    height: 120px;
  }
  .primary-nav {
    order: 2;
    width: 74%;
  }
  .primary-nav .nav-list {
    grid-auto-flow: column;
    height: auto;
    width: 100%;
  }
  .primary-nav .nav-items {
    font-weight: 900;
    align-self: center;
    justify-self: end;
    padding-bottom: 18px;
    margin-left: 32px;
  }
  .primary-nav .nav-link {
    padding-bottom: 18.9px;
  }
  .secondary-nav {
    width: 41%;
    place-items: start;
    grid-template-columns: 1fr;
    justify-self: end;
    align-self: start;
  }
  .secondary-nav .social-list {
    width: 38%;
    font-weight: 900;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(33px, 1fr));
    justify-self: end;
    display: none;
  }
  .nav-login {
    width: 67%;
    justify-self: end;
    min-height: auto;
    grid-template-rows: 1fr;
    align-self: start;
  }
  .nav-login .login-link {
    justify-self: end;
    grid-template-columns: repeat(auto-fill, minmax(26px, 1fr));
    align-self: center;
    margin-right: 10px;
    width: 63px;
  }
  .nav-login button {
    align-self: end;
  }
  .cart {
    align-self: start;
    margin: 16px 0;
    margin-left: 16px;
  }
}
/** @format */
#footer {
  min-height: 20vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: #eeeeee;
  width: 90%;
}

#main-section {
  display: grid;
  place-items: center;
  margin-top: 16px;
  width: 80%;
}
#main-section .footerLogo-link {
  text-decoration: none;
}

#main-footer {
  margin-top: 14px;
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

#footer-nav,
#activity,
.store-highlight {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
  margin-bottom: 32px;
}
#footer-nav .nav-title,
#footer-nav .store-title,
#activity .nav-title,
#activity .store-title,
.store-highlight .nav-title,
.store-highlight .store-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e07714;
}

.footerNav-list {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  font-size: 0.9rem;
  font-weight: 400;
  list-style: none;
}
.footerNav-list .footerNav-item .footerNav-link {
  color: #003349;
  text-decoration: none;
}
.footerNav-list .footerNav-item .footerNav-link:hover {
  color: #e07714;
}

.store-hours {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.store-hours .store_hours_items {
  justify-self: start;
  align-self: end;
  width: 100%;
}
.store-hours .store_hours_items > p {
  color: #003349;
  font-size: 0.8rem;
  text-align: center;
}
.store-hours .store_hours_items > p:hover {
  color: #e07714;
}

#contact-us {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
}
#contact-us .contact-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e07714;
}

.contact-info {
  font-size: 0.9rem;
  width: 90%;
  color: #003349;
}
.contact-info .contact-infoLink {
  color: #e07714;
  font-weight: bolder;
}
.contact-info .contact-infoLink:hover {
  color: #ff3c00;
}

.footer_social_list {
  width: 55%;
  list-style: none;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(3, 1fr);
}

.footer_social_item {
  padding: 5px;
  display: grid;
  place-items: center;
}

.footer_social_link {
  align-items: end;
}
.footer_social_link .social_img {
  width: 30px;
  height: 30px;
}

#subscribe {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
}
#subscribe .subscribe-title {
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e07714;
}

.subscribe-info {
  text-align: center;
  font-size: 0.9rem;
  width: 90%;
  color: #003349;
}

form {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  height: 77px;
}
form input {
  min-height: 10px;
  border-radius: 6px;
  padding: 8px;
  background-color: #f6f6f6;
  border: 1px solid #eeeeee;
  color: #003349;
}
form button {
  background-color: #e07714;
  border: none;
  width: 62px;
  padding: 6px;
  color: #f4f9ff;
  border-radius: 6px;
}

.copy-right {
  display: grid;
  place-items: center;
  margin: 16px 0;
  width: 90%;
}
.copy-right .copy-body {
  font-size: 0.6rem;
  color: #003349;
  text-align: center;
}
.copy-right .copy-body:hover {
  color: #e07714;
}

@media only screen and (min-width: 600px) {
  #footer {
    align-items: start;
    justify-items: center;
  }
  #footer .footerLogo-link {
    text-decoration: none;
    justify-self: start;
  }
  #main-footer {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
    align-items: start;
    justify-self: center;
  }
  #footer-nav {
    align-self: start;
    justify-self: center;
  }
  #footer-nav .nav-title,
#footer-nav .activity-title {
    justify-self: center;
  }
  .footerNav-list {
    justify-self: center;
  }
  .footerNav-list .footerNav-item {
    justify-self: center;
  }
  .footerNav-list .footerNav-item .footerNav-link {
    color: #003349;
    text-decoration: none;
  }
  button {
    justify-self: start;
  }
}
@media only screen and (min-width: 1000px) {
  #main-section {
    justify-self: center;
  }
  #main-footer {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-items: start;
    justify-self: center;
    justify-self: center;
  }
  .copy-right {
    place-items: center;
  }
  .copy-right .copy-body {
    font-size: 0.8rem;
  }
}
/** @format */
* {
  margin: 0;
  color: whitesmoke;
  padding: 0;
}

img,
svg {
  max-width: 100%;
}

body {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 100%;
}

#header,
#main,
#footer {
  display: grid;
  place-items: center;
  width: 100%;
}

#main {
  min-height: 80vh;
}

/** @format */
#main_blog_section,
#hero-section,
#main_section {
  display: grid;
  place-items: center;
  max-width: 90%;
}

.blog,
.blog-box {
  display: grid;
  place-items: center;
  align-self: start;
}

.blog-box {
  width: 100%;
  height: 250px;
  min-height: 29vh;
  background-color: #003349;
}
.blog-box .blog-box_title {
  width: 90%;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 36px;
  justify-self: center;
  text-align: start;
  color: #e07714;
}
.blog-box .blog-box_body {
  width: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: start;
  align-self: end;
  color: #e07714;
}

.blog-hero .blog-hero_title {
  font-size: 1.5rem;
  line-height: 36px;
  letter-spacing: 2px;
  color: #003349;
  text-align: start;
}
.blog-hero .blog-hero_body {
  color: #003349;
  text-align: start;
  font-size: 0.81rem;
  font-weight: 900;
  text-transform: capitalize;
  margin: 20px 0;
}

.pizza_blogs {
  gap: 16px;
}
.pizza_blogs .best_toppings,
.pizza_blogs .pizza_shop {
  background-color: #eeeeee;
  border-radius: 9px;
}

.pizza_blogs,
.best_toppings,
.pizza_shop,
.content {
  display: grid;
  place-items: center;
}
.pizza_blogs .title,
.best_toppings .title,
.pizza_shop .title,
.content .title {
  font-size: 0.89rem;
  width: 90%;
  color: #003349;
  text-align: center;
  justify-self: center;
  margin: 16px 0;
}

.content {
  margin-bottom: 16px;
}
.content > div {
  width: 90%;
}
.content > div img {
  width: 100%;
}
.content .body {
  color: #003349;
  font-size: 0.81rem;
  text-align: start;
  width: 90%;
}
.content .date {
  min-height: 4vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
.content .date .day,
.content .date .owner {
  color: #e07714;
  font-size: 0.8rem;
  text-align: start;
  font-weight: 900;
  justify-self: start;
  width: 90%;
}
.content .more_content {
  color: #e07714;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 900;
  justify-self: center;
  width: 90%;
  text-align: start;
}

.load_more {
  min-height: 10vh;
  display: grid;
  place-items: center;
}
.load_more .load_list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
}

.load_item {
  width: 40px;
  height: 40px;
  font-size: 0.8rem;
  font-weight: 900;
  display: grid;
  place-items: center;
  border: 0.81px solid #e07714;
  color: #003349;
}
.load_item .load_left {
  width: 20px;
}
.load_item .load_right {
  width: 20px;
}

.categories,
.categories_card,
.categories_list,
.categories_items {
  display: grid;
  place-items: start;
}
.categories .categories_card,
.categories_card .categories_card,
.categories_list .categories_card,
.categories_items .categories_card {
  margin: 16px 0;
}
.categories .categories_title,
.categories_card .categories_title,
.categories_list .categories_title,
.categories_items .categories_title {
  width: 100%;
  color: #e07714;
  font-size: 1.2rem;
  justify-self: start;
  text-align: start;
}

.categories_list {
  list-style: none;
}
.categories_list .categories_items a {
  color: #003349;
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
}

.post,
.post_list,
.post_items {
  display: grid;
  place-items: center;
  margin: 16px 0;
}
.post .post_title,
.post_list .post_title,
.post_items .post_title {
  color: #e07714;
  font-size: 1.2rem;
}

.post_list {
  list-style: none;
}
.post_list .post_items {
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
.post_list .post_items img {
  width: 100%;
}
.post_list .post_items .post_link {
  color: #003349;
  font-size: 0.8rem;
  width: 70%;
}

/*tablet-query*/
@media only screen and (min-width: 600px) {
  .blog {
    grid-template-columns: 1fr 2fr;
    justify-self: start;
    gap: 16px;
  }
  .blog .blog-box {
    justify-self: start;
  }
  #main_section {
    margin-top: 48px;
    grid-auto-flow: row;
  }
  .pizza_blogs {
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
  }
  .pizza_blogs .best_toppings,
.pizza_blogs .pizza_shop {
    align-self: start;
  }
  .categories {
    grid-template-columns: repeat(auto-fill, minmax(44%, 1fr));
  }
  .post_list .post_items {
    grid-template-columns: repeat(auto-fill, minmax(36%, 1fr));
  }
}
/*desktop-query*/
@media only screen and (min-width: 1000px) {
  .main_blog_section {
    width: 70%;
  }
  .blog {
    grid-template-columns: 1fr 3fr;
  }
  .blog .blog-hero {
    width: 90%;
    justify-self: start;
  }
  #main_section {
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
  }
  .categories {
    grid-template-columns: repeat(auto-fill, minmax(52%, 1fr));
    align-self: start;
    justify-self: end;
    justify-items: end;
  }
  .categories .categories_title {
    text-align: end;
  }
  .categories .categories_list .categories_items {
    justify-self: end;
  }
  .categories .categories_list .categories_items a {
    justify-self: end;
    text-align: end;
  }
  .post .post_title {
    text-align: end;
    justify-self: end;
  }
  .post_list .post_items {
    align-items: end;
    justify-items: end;
  }
  .post_list .post_items img {
    width: 70%;
  }
}
#book_a_table {
  background-color: #003349;
  color: #f1f1f1;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
#book_a_table a {
  width: 60px;
  font-size: 0.7rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
#book_a_table a:hover {
  cursor: pointer;
}
#book_a_table img {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=blog.css.map */
