/** @format */
#header {
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #eeeeee;
}
#header .logo-link {
  justify-self: center;
  order: 1;
}
#header .logo-link .logo {
  color: #003349;
}

.nav-toggle {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  justify-self: start;
  margin-left: 25px;
}
.nav-toggle .menu_radio_button {
  display: none;
}

.label-close,
.label-open {
  display: grid;
  justify-items: start;
  align-items: end;
}
.label-close .menu,
.label-open .menu {
  justify-self: start;
  width: 15px;
  height: 15px;
}
.label-close .close,
.label-open .close {
  justify-self: start;
  align-self: end;
  width: 100%;
  height: 100%;
}

.label-close {
  display: none;
}

#menu_open:checked ~ .label-open {
  display: none;
}

#menu_open:checked ~ .label-close {
  transform: translateX(0px);
  display: block;
}

#menu_open:checked ~ #nav {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

#menu_close:checked ~ #nav {
  transform: translateX(-1000px);
  transition: transform 1.5s ease-in-out;
}

#nav {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 400px;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  background-color: #eeeeee;
  padding-left: 16px;
  transform: translateX(-1000px);
}
#nav .primary-nav {
  display: grid;
  place-items: center;
  width: 100%;
  align-self: start;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(5, 1fr);
  height: 32vh;
  justify-self: start;
  align-self: start;
  width: 100%;
}
.nav-list .nav-items {
  color: #003349;
  font-weight: 900;
  align-self: end;
  justify-self: start;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  height: 0;
  padding-bottom: 12.6px;
}
.nav-link:active {
  color: #f1f1f1;
}
.nav-link:hover {
  color: #e07714;
}
.nav-link::after {
  content: "";
  width: 100%;
  height: 2.16px;
  background-color: #e07714;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform ease-in;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
}

.secondary-nav {
  width: 100%;
  display: grid;
  place-items: center;
  align-self: end;
}
.secondary-nav .social-list {
  width: 100%;
  background-color: #eeeeee;
  font-weight: 900;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(51px, 1fr));
}

.social-item {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}
.social-item a {
  text-decoration: none;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.social-item a img {
  width: 40px;
  height: 40px;
}

.nav-login {
  width: 90%;
  min-height: 9vh;
  display: grid;
  place-items: center;
  justify-self: start;
  grid-auto-flow: column;
  min-height: 12vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  margin-top: 12px;
}
.nav-login .login-link {
  display: grid;
  place-items: center;
  justify-self: start;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
  color: #e07714;
  font-weight: 900;
  text-decoration: none;
}
.nav-login .login-link img {
  width: 20px;
  height: 20px;
  justify-self: start;
  fill: #e07714;
}

button {
  background-color: #e07714;
  border: none;
  color: #f1f1f1;
  background-color: #003349;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 8px 8px;
  text-align: center;
}

.cart {
  justify-self: end;
  order: 2;
  margin-right: 25px;
}

@media only screen and (min-width: 1000px) {
  #header {
    grid-auto-flow: column;
    grid-template-columns: 19% 70% 4%;
  }
  #header .logo-link {
    justify-self: center;
    order: 0;
  }
  #header .logo-link .logo {
    color: #003349;
  }
  .nav-toggle {
    width: 100%;
    place-items: end;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    padding-left: 0;
    margin-left: 0;
  }
  .nav-toggle .menu_radio_button {
    display: none;
  }
  .label-close,
.label-open,
.menu.close {
    display: none;
  }
  #menu_open:checked ~ #nav {
    transform: translateX(0);
    transition: none;
  }
  #menu_close:checked ~ #nav {
    transform: translateX(0);
    transition: none;
  }
  #nav {
    width: 100%;
    place-items: end;
    grid-template-rows: 1fr;
    position: static;
    padding-left: 0;
    transform: translateX(0);
    height: 120px;
  }
  .primary-nav {
    order: 2;
    width: 74%;
  }
  .primary-nav .nav-list {
    grid-auto-flow: column;
    height: auto;
    width: 100%;
  }
  .primary-nav .nav-items {
    font-weight: 900;
    align-self: center;
    justify-self: end;
    padding-bottom: 18px;
    margin-left: 32px;
  }
  .primary-nav .nav-link {
    padding-bottom: 18.9px;
  }
  .secondary-nav {
    width: 41%;
    place-items: start;
    grid-template-columns: 1fr;
    justify-self: end;
    align-self: start;
  }
  .secondary-nav .social-list {
    width: 38%;
    font-weight: 900;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(33px, 1fr));
    justify-self: end;
    display: none;
  }
  .nav-login {
    width: 67%;
    justify-self: end;
    min-height: auto;
    grid-template-rows: 1fr;
    align-self: start;
  }
  .nav-login .login-link {
    justify-self: end;
    grid-template-columns: repeat(auto-fill, minmax(26px, 1fr));
    align-self: center;
    margin-right: 10px;
    width: 63px;
  }
  .nav-login button {
    align-self: end;
  }
  .cart {
    align-self: start;
    margin: 16px 0;
    margin-left: 16px;
  }
}
/** @format */
#footer {
  min-height: 20vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: #eeeeee;
  width: 90%;
}

#main-section {
  display: grid;
  place-items: center;
  margin-top: 16px;
  width: 80%;
}
#main-section .footerLogo-link {
  text-decoration: none;
}

#main-footer {
  margin-top: 14px;
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

#footer-nav,
#activity,
.store-highlight {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
  margin-bottom: 32px;
}
#footer-nav .nav-title,
#footer-nav .store-title,
#activity .nav-title,
#activity .store-title,
.store-highlight .nav-title,
.store-highlight .store-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e07714;
}

.footerNav-list {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  font-size: 0.9rem;
  font-weight: 400;
  list-style: none;
}
.footerNav-list .footerNav-link {
  color: #003349;
  text-decoration: none;
}
.footerNav-list .footerNav-link:hover {
  color: #e07714;
}

.store-hours {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.store-hours .store_hours_items {
  justify-self: start;
  align-self: end;
  width: 100%;
}
.store-hours .store_hours_items > p {
  color: #003349;
  font-size: 0.8rem;
  text-align: center;
}
.store-hours .store_hours_items > p:hover {
  color: #e07714;
}

#contact-us {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
}
#contact-us .contact-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e07714;
}

.contact-info {
  font-size: 0.9rem;
  width: 90%;
  color: #003349;
}
.contact-info .contact-infoLink {
  color: #e07714;
  font-weight: bolder;
}
.contact-info .contact-infoLink:hover {
  color: #ff3c00;
}

.footer_social_list {
  width: 55%;
  list-style: none;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(3, 1fr);
}

.footer_social_item {
  padding: 5px;
  display: grid;
  place-items: center;
}

.footer_social_link {
  align-items: end;
}
.footer_social_link .social_img {
  width: 30px;
  height: 30px;
}

#subscribe {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 90%;
}
#subscribe .subscribe-title {
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e07714;
}

.subscribe-info {
  text-align: center;
  font-size: 0.9rem;
  width: 90%;
  color: #003349;
}

form {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  height: 11vh;
}
form input {
  min-height: 10px;
  border-radius: 6px;
  padding: 8px;
  background-color: #f6f6f6;
  border: 1px solid #eeeeee;
  color: #003349;
}
form button {
  background-color: #e07714;
  border: none;
  width: 62px;
  padding: 6px;
  color: #f4f9ff;
  border-radius: 6px;
}

.copy-right {
  display: grid;
  place-items: center;
  margin: 16px 0;
  width: 90%;
}
.copy-right .copy-body {
  font-size: 0.6rem;
  color: #003349;
  text-align: center;
}
.copy-right .copy-body:hover {
  color: #e07714;
}

@media only screen and (min-width: 600px) {
  #footer {
    align-items: start;
    justify-items: center;
  }
  #footer .footerLogo-link {
    text-decoration: none;
    justify-self: start;
  }
  #main-footer {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
    align-items: start;
    justify-self: center;
  }
  #footer-nav {
    align-self: start;
    justify-self: center;
  }
  #footer-nav .nav-title,
#footer-nav .activity-title {
    justify-self: center;
  }
  .footerNav-list {
    justify-self: center;
  }
  .footerNav-list .footerNav-item {
    justify-self: center;
  }
  .footerNav-list .footerNav-item .footerNav-link {
    color: #003349;
    text-decoration: none;
  }
  button {
    justify-self: start;
  }
}
@media only screen and (min-width: 1000px) {
  #main-section {
    justify-self: center;
  }
  #main-footer {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-items: start;
    justify-self: center;
    justify-self: center;
  }
  .copy-right {
    place-items: start;
  }
  .copy-right .copy-body {
    font-size: 0.8rem;
  }
}
/** @format */
* {
  margin: 0;
  color: whitesmoke;
  padding: 0;
}

img,
svg {
  max-width: 100%;
}

body {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 100%;
}

#header,
#main,
#footer {
  display: grid;
  place-items: center;
  width: 100%;
}

#main {
  min-height: 80vh;
}

/** @format */
.vegan-section,
.top_menu {
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100%;
  text-align: center;
  align-self: start;
  margin-top: 20px;
}
.vegan-section .top_menu_title,
.top_menu .top_menu_title {
  color: #e07714;
  font-size: 1.3rem;
  text-decoration: underline;
}
.vegan-section > p,
.top_menu > p {
  width: 80%;
  font-size: 0.81rem;
  line-height: 20px;
  font-weight: 700;
  color: #003349;
  text-align: center;
  margin-top: 20px;
}

.vegan_main {
  width: 100%;
  display: grid;
  place-items: center;
  justify-self: center;
}
.vegan_main > h2 {
  color: #003349;
  font-weight: 900;
  font-size: 1.3rem;
  margin: 18px;
  text-decoration: underline;
}
.vegan_main .out_off_item {
  width: 80%;
  font-size: 0.81rem;
  line-height: 20px;
  font-weight: 700;
  color: #003349;
  text-align: center;
  margin-top: 20px;
}
.vegan_main .hide_radio_button,
.vegan_main .view_radio_button {
  display: none;
}

.vegan_main_card {
  width: 100%;
  display: grid;
  place-items: center;
}

.vegan,
.mush-vegan,
.pepp-vegan,
.carro-vegan {
  width: 90%;
  display: grid;
  place-items: center;
  border-radius: 25px;
  margin-bottom: 16px;
  background-color: #eeeeee;
}

.vegan-imageCard,
.mush-vegan-imageCard,
.pepp-vegan-imageCard,
.carro-vegan-imageCard {
  display: grid;
  place-items: center;
  width: 90%;
  margin-top: 20px;
}

.vegan-card_title,
.mush-vegan-card_title,
.pepp-vegan-card_title,
.carro-vegan-card_title {
  font-size: 0.8rem;
  color: #003349;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

.more-description-card,
.mush-more-description-card,
.pepp-more-description-card,
.carro-more-description-card {
  width: 90%;
  display: grid;
  min-height: 8vh;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  justify-self: end;
}
.more-description-card .details_radio,
.more-description-card .mush-details_radio,
.more-description-card .pepp-details_radio,
.more-description-card .carro-details_radio,
.mush-more-description-card .details_radio,
.mush-more-description-card .mush-details_radio,
.mush-more-description-card .pepp-details_radio,
.mush-more-description-card .carro-details_radio,
.pepp-more-description-card .details_radio,
.pepp-more-description-card .mush-details_radio,
.pepp-more-description-card .pepp-details_radio,
.pepp-more-description-card .carro-details_radio,
.carro-more-description-card .details_radio,
.carro-more-description-card .mush-details_radio,
.carro-more-description-card .pepp-details_radio,
.carro-more-description-card .carro-details_radio {
  display: none;
}
.more-description-card .vegan-value,
.more-description-card .mush-vegan-value,
.more-description-card .pepp-vegan-value,
.more-description-card .carro-vegan-value,
.mush-more-description-card .vegan-value,
.mush-more-description-card .mush-vegan-value,
.mush-more-description-card .pepp-vegan-value,
.mush-more-description-card .carro-vegan-value,
.pepp-more-description-card .vegan-value,
.pepp-more-description-card .mush-vegan-value,
.pepp-more-description-card .pepp-vegan-value,
.pepp-more-description-card .carro-vegan-value,
.carro-more-description-card .vegan-value,
.carro-more-description-card .mush-vegan-value,
.carro-more-description-card .pepp-vegan-value,
.carro-more-description-card .carro-vegan-value {
  color: #003349;
  font-size: 0.7rem;
  justify-self: center;
  align-self: end;
  font-weight: 900;
  padding: 10px 10px;
}
.more-description-card > p,
.mush-more-description-card > p,
.pepp-more-description-card > p,
.carro-more-description-card > p {
  color: #003349;
}
.more-description-card .view_details,
.more-description-card .details_mush,
.more-description-card .details_pepp,
.more-description-card .details_carro,
.mush-more-description-card .view_details,
.mush-more-description-card .details_mush,
.mush-more-description-card .details_pepp,
.mush-more-description-card .details_carro,
.pepp-more-description-card .view_details,
.pepp-more-description-card .details_mush,
.pepp-more-description-card .details_pepp,
.pepp-more-description-card .details_carro,
.carro-more-description-card .view_details,
.carro-more-description-card .details_mush,
.carro-more-description-card .details_pepp,
.carro-more-description-card .details_carro {
  align-self: end;
  padding: 10px 10px;
}
.more-description-card .view_details p,
.more-description-card .details_mush p,
.more-description-card .details_pepp p,
.more-description-card .details_carro p,
.mush-more-description-card .view_details p,
.mush-more-description-card .details_mush p,
.mush-more-description-card .details_pepp p,
.mush-more-description-card .details_carro p,
.pepp-more-description-card .view_details p,
.pepp-more-description-card .details_mush p,
.pepp-more-description-card .details_pepp p,
.pepp-more-description-card .details_carro p,
.carro-more-description-card .view_details p,
.carro-more-description-card .details_mush p,
.carro-more-description-card .details_pepp p,
.carro-more-description-card .details_carro p {
  color: #003349;
  font-size: 0.7rem;
  justify-self: center;
  font-weight: 900;
  align-self: center;
}
.more-description-card .add-cart,
.more-description-card .mush-add-cart,
.more-description-card .pepp-add-cart,
.more-description-card .carro-add-cart,
.mush-more-description-card .add-cart,
.mush-more-description-card .mush-add-cart,
.mush-more-description-card .pepp-add-cart,
.mush-more-description-card .carro-add-cart,
.pepp-more-description-card .add-cart,
.pepp-more-description-card .mush-add-cart,
.pepp-more-description-card .pepp-add-cart,
.pepp-more-description-card .carro-add-cart,
.carro-more-description-card .add-cart,
.carro-more-description-card .mush-add-cart,
.carro-more-description-card .pepp-add-cart,
.carro-more-description-card .carro-add-cart {
  background-color: #e07714;
  border: none;
  font-size: 0.6rem;
  justify-self: end;
  align-self: end;
  border-bottom-right-radius: 25px;
  padding: 10px 10px;
}
.more-description-card #details_open:checked ~ .vegan-description,
.mush-more-description-card #details_open:checked ~ .vegan-description,
.pepp-more-description-card #details_open:checked ~ .vegan-description,
.carro-more-description-card #details_open:checked ~ .vegan-description {
  display: block;
}
.more-description-card #details_mush:checked ~ .mush-vegan-description,
.mush-more-description-card #details_mush:checked ~ .mush-vegan-description,
.pepp-more-description-card #details_mush:checked ~ .mush-vegan-description,
.carro-more-description-card #details_mush:checked ~ .mush-vegan-description {
  display: block;
}
.more-description-card #details_pepp:checked ~ .pepp-vegan-description,
.mush-more-description-card #details_pepp:checked ~ .pepp-vegan-description,
.pepp-more-description-card #details_pepp:checked ~ .pepp-vegan-description,
.carro-more-description-card #details_pepp:checked ~ .pepp-vegan-description {
  display: block;
}
.more-description-card #details_carro:checked ~ .carro-vegan-description,
.mush-more-description-card #details_carro:checked ~ .carro-vegan-description,
.pepp-more-description-card #details_carro:checked ~ .carro-vegan-description,
.carro-more-description-card #details_carro:checked ~ .carro-vegan-description {
  display: block;
}

.vegan-description,
.mush-vegan-description,
.pepp-vegan-description,
.carro-vegan-description {
  display: grid;
  place-items: center;
  width: 90%;
  position: absolute;
  top: -161px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 12px 12px 10px rgba(238, 238, 238, 0.44);
  transition: none;
  border-radius: 6px;
  display: none;
}
.vegan-description .details_radio_close,
.vegan-description .details_radio_mush,
.vegan-description .details_radio_pepp,
.vegan-description .details_radio_carro,
.mush-vegan-description .details_radio_close,
.mush-vegan-description .details_radio_mush,
.mush-vegan-description .details_radio_pepp,
.mush-vegan-description .details_radio_carro,
.pepp-vegan-description .details_radio_close,
.pepp-vegan-description .details_radio_mush,
.pepp-vegan-description .details_radio_pepp,
.pepp-vegan-description .details_radio_carro,
.carro-vegan-description .details_radio_close,
.carro-vegan-description .details_radio_mush,
.carro-vegan-description .details_radio_pepp,
.carro-vegan-description .details_radio_carro {
  display: none;
}
.vegan-description .view_details,
.vegan-description .view_details_mush,
.vegan-description .view_details_pepp,
.vegan-description .view_details_carro,
.mush-vegan-description .view_details,
.mush-vegan-description .view_details_mush,
.mush-vegan-description .view_details_pepp,
.mush-vegan-description .view_details_carro,
.pepp-vegan-description .view_details,
.pepp-vegan-description .view_details_mush,
.pepp-vegan-description .view_details_pepp,
.pepp-vegan-description .view_details_carro,
.carro-vegan-description .view_details,
.carro-vegan-description .view_details_mush,
.carro-vegan-description .view_details_pepp,
.carro-vegan-description .view_details_carro {
  padding: 10px;
  display: grid;
  place-items: center;
  width: 100%;
}
.vegan-description .vegan-main-card,
.vegan-description .mush-vegan-main-card,
.vegan-description .pepp-vegan-main-card,
.vegan-description .carro-vegan-main-card,
.mush-vegan-description .vegan-main-card,
.mush-vegan-description .mush-vegan-main-card,
.mush-vegan-description .pepp-vegan-main-card,
.mush-vegan-description .carro-vegan-main-card,
.pepp-vegan-description .vegan-main-card,
.pepp-vegan-description .mush-vegan-main-card,
.pepp-vegan-description .pepp-vegan-main-card,
.pepp-vegan-description .carro-vegan-main-card,
.carro-vegan-description .vegan-main-card,
.carro-vegan-description .mush-vegan-main-card,
.carro-vegan-description .pepp-vegan-main-card,
.carro-vegan-description .carro-vegan-main-card {
  display: grid;
  place-items: center;
  width: 100%;
  transition: none;
}
.vegan-description .vegan-main-card .vegan-card_body,
.vegan-description .vegan-main-card .mush-vegan-card_body,
.vegan-description .vegan-main-card .vegan-card_dough,
.vegan-description .vegan-main-card .mush-vegan-card_dough,
.vegan-description .vegan-main-card .carro-vegan-card_dough,
.vegan-description .vegan-main-card p,
.vegan-description .mush-vegan-main-card .vegan-card_body,
.vegan-description .mush-vegan-main-card .mush-vegan-card_body,
.vegan-description .mush-vegan-main-card .vegan-card_dough,
.vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.vegan-description .mush-vegan-main-card .carro-vegan-card_dough,
.vegan-description .mush-vegan-main-card p,
.vegan-description .pepp-vegan-main-card .vegan-card_body,
.vegan-description .pepp-vegan-main-card .mush-vegan-card_body,
.vegan-description .pepp-vegan-main-card .vegan-card_dough,
.vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.vegan-description .pepp-vegan-main-card .carro-vegan-card_dough,
.vegan-description .pepp-vegan-main-card p,
.vegan-description .carro-vegan-main-card .vegan-card_body,
.vegan-description .carro-vegan-main-card .mush-vegan-card_body,
.vegan-description .carro-vegan-main-card .vegan-card_dough,
.vegan-description .carro-vegan-main-card .mush-vegan-card_dough,
.vegan-description .carro-vegan-main-card .carro-vegan-card_dough,
.vegan-description .carro-vegan-main-card p,
.mush-vegan-description .vegan-main-card .vegan-card_body,
.mush-vegan-description .vegan-main-card .mush-vegan-card_body,
.mush-vegan-description .vegan-main-card .vegan-card_dough,
.mush-vegan-description .vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .vegan-main-card .carro-vegan-card_dough,
.mush-vegan-description .vegan-main-card p,
.mush-vegan-description .mush-vegan-main-card .vegan-card_body,
.mush-vegan-description .mush-vegan-main-card .mush-vegan-card_body,
.mush-vegan-description .mush-vegan-main-card .vegan-card_dough,
.mush-vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .mush-vegan-main-card .carro-vegan-card_dough,
.mush-vegan-description .mush-vegan-main-card p,
.mush-vegan-description .pepp-vegan-main-card .vegan-card_body,
.mush-vegan-description .pepp-vegan-main-card .mush-vegan-card_body,
.mush-vegan-description .pepp-vegan-main-card .vegan-card_dough,
.mush-vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .pepp-vegan-main-card .carro-vegan-card_dough,
.mush-vegan-description .pepp-vegan-main-card p,
.mush-vegan-description .carro-vegan-main-card .vegan-card_body,
.mush-vegan-description .carro-vegan-main-card .mush-vegan-card_body,
.mush-vegan-description .carro-vegan-main-card .vegan-card_dough,
.mush-vegan-description .carro-vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .carro-vegan-main-card .carro-vegan-card_dough,
.mush-vegan-description .carro-vegan-main-card p,
.pepp-vegan-description .vegan-main-card .vegan-card_body,
.pepp-vegan-description .vegan-main-card .mush-vegan-card_body,
.pepp-vegan-description .vegan-main-card .vegan-card_dough,
.pepp-vegan-description .vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .vegan-main-card .carro-vegan-card_dough,
.pepp-vegan-description .vegan-main-card p,
.pepp-vegan-description .mush-vegan-main-card .vegan-card_body,
.pepp-vegan-description .mush-vegan-main-card .mush-vegan-card_body,
.pepp-vegan-description .mush-vegan-main-card .vegan-card_dough,
.pepp-vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .mush-vegan-main-card .carro-vegan-card_dough,
.pepp-vegan-description .mush-vegan-main-card p,
.pepp-vegan-description .pepp-vegan-main-card .vegan-card_body,
.pepp-vegan-description .pepp-vegan-main-card .mush-vegan-card_body,
.pepp-vegan-description .pepp-vegan-main-card .vegan-card_dough,
.pepp-vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .pepp-vegan-main-card .carro-vegan-card_dough,
.pepp-vegan-description .pepp-vegan-main-card p,
.pepp-vegan-description .carro-vegan-main-card .vegan-card_body,
.pepp-vegan-description .carro-vegan-main-card .mush-vegan-card_body,
.pepp-vegan-description .carro-vegan-main-card .vegan-card_dough,
.pepp-vegan-description .carro-vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .carro-vegan-main-card .carro-vegan-card_dough,
.pepp-vegan-description .carro-vegan-main-card p,
.carro-vegan-description .vegan-main-card .vegan-card_body,
.carro-vegan-description .vegan-main-card .mush-vegan-card_body,
.carro-vegan-description .vegan-main-card .vegan-card_dough,
.carro-vegan-description .vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .vegan-main-card .carro-vegan-card_dough,
.carro-vegan-description .vegan-main-card p,
.carro-vegan-description .mush-vegan-main-card .vegan-card_body,
.carro-vegan-description .mush-vegan-main-card .mush-vegan-card_body,
.carro-vegan-description .mush-vegan-main-card .vegan-card_dough,
.carro-vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .mush-vegan-main-card .carro-vegan-card_dough,
.carro-vegan-description .mush-vegan-main-card p,
.carro-vegan-description .pepp-vegan-main-card .vegan-card_body,
.carro-vegan-description .pepp-vegan-main-card .mush-vegan-card_body,
.carro-vegan-description .pepp-vegan-main-card .vegan-card_dough,
.carro-vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .pepp-vegan-main-card .carro-vegan-card_dough,
.carro-vegan-description .pepp-vegan-main-card p,
.carro-vegan-description .carro-vegan-main-card .vegan-card_body,
.carro-vegan-description .carro-vegan-main-card .mush-vegan-card_body,
.carro-vegan-description .carro-vegan-main-card .vegan-card_dough,
.carro-vegan-description .carro-vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .carro-vegan-main-card .carro-vegan-card_dough,
.carro-vegan-description .carro-vegan-main-card p {
  color: #003349;
  border: none;
  font-size: 0.7rem;
  font-weight: 900;
  width: 90%;
  text-align: center;
}
.vegan-description .vegan-main-card .vegan-card_dough,
.vegan-description .vegan-main-card .mush-vegan-card_dough,
.vegan-description .mush-vegan-main-card .vegan-card_dough,
.vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.vegan-description .pepp-vegan-main-card .vegan-card_dough,
.vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.vegan-description .carro-vegan-main-card .vegan-card_dough,
.vegan-description .carro-vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .vegan-main-card .vegan-card_dough,
.mush-vegan-description .vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .mush-vegan-main-card .vegan-card_dough,
.mush-vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .pepp-vegan-main-card .vegan-card_dough,
.mush-vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.mush-vegan-description .carro-vegan-main-card .vegan-card_dough,
.mush-vegan-description .carro-vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .vegan-main-card .vegan-card_dough,
.pepp-vegan-description .vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .mush-vegan-main-card .vegan-card_dough,
.pepp-vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .pepp-vegan-main-card .vegan-card_dough,
.pepp-vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.pepp-vegan-description .carro-vegan-main-card .vegan-card_dough,
.pepp-vegan-description .carro-vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .vegan-main-card .vegan-card_dough,
.carro-vegan-description .vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .mush-vegan-main-card .vegan-card_dough,
.carro-vegan-description .mush-vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .pepp-vegan-main-card .vegan-card_dough,
.carro-vegan-description .pepp-vegan-main-card .mush-vegan-card_dough,
.carro-vegan-description .carro-vegan-main-card .vegan-card_dough,
.carro-vegan-description .carro-vegan-main-card .mush-vegan-card_dough {
  color: #e07714;
}
.vegan-description .vegan-main-card > p,
.vegan-description .mush-vegan-main-card > p,
.vegan-description .pepp-vegan-main-card > p,
.vegan-description .carro-vegan-main-card > p,
.mush-vegan-description .vegan-main-card > p,
.mush-vegan-description .mush-vegan-main-card > p,
.mush-vegan-description .pepp-vegan-main-card > p,
.mush-vegan-description .carro-vegan-main-card > p,
.pepp-vegan-description .vegan-main-card > p,
.pepp-vegan-description .mush-vegan-main-card > p,
.pepp-vegan-description .pepp-vegan-main-card > p,
.pepp-vegan-description .carro-vegan-main-card > p,
.carro-vegan-description .vegan-main-card > p,
.carro-vegan-description .mush-vegan-main-card > p,
.carro-vegan-description .pepp-vegan-main-card > p,
.carro-vegan-description .carro-vegan-main-card > p {
  color: #003349;
}

.addtional-vegan-menu {
  display: grid;
  place-items: center;
}

.add,
.hide {
  margin: 20px 0;
}
.add .hide-btn,
.add .add-btn,
.hide .hide-btn,
.hide .add-btn {
  background-color: #003349;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.hide-radio {
  display: none;
}

.add-radio {
  display: none;
}

.hide {
  display: none;
}

.add {
  display: block;
}

#add:checked ~ .add {
  display: none;
}

#add:checked ~ .hide {
  display: block;
}

#hide:checked ~ .add {
  display: block;
}

#hide:checked ~ .hide {
  display: none;
}

#add:checked ~ .hidden {
  display: grid;
}

#hide:checked ~ .hidden {
  display: none;
}

.hidden {
  display: grid;
  place-items: center;
  width: 100%;
  justify-self: center;
  align-self: center;
  display: none;
}

#combo-section {
  margin-bottom: 48px;
}

@media only screen and (min-width: 600px) {
  #menu-section {
    width: 90%;
  }
  .top_menu > p {
    width: 55%;
    font-size: 0.81rem;
    line-height: 20px;
    font-weight: 700;
    color: #003349;
    text-align: center;
  }
  .vegan_main_card {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .addtional-vegan-menu {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }
  .hidden {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 3000px) {
  .menu-section {
    background-color: #eeeeee;
    width: 70%;
  }
  .vegan_main_card {
    width: 93%;
    grid-template-columns: repeat(4, 1fr);
  }
  .hidden {
    width: 93%;
    grid-template-columns: repeat(4, 1fr);
  }
}
#book_a_table {
  background-color: #003349;
  color: #f1f1f1;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
#book_a_table a {
  width: 60px;
  font-size: 0.7rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
#book_a_table a:hover {
  cursor: pointer;
}
#book_a_table img {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=menu.css.map */
