/** @format */

@use "partials/header";
@use "partials/footer";
@use "partials/general";

$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #e9e7e7;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$opacity: 0.22;

#our_story {
	background-color: $italian-limegreen;
	display: grid;
	place-items: start;
	justify-self: center;
	align-self: start;
	width: 90%;
	.about_us {
		display: grid;
		place-items: center;
		align-self: start;
		> img {
			align-self: start;
		}
	}
}
.about_description {
	min-height: 20vh;
	display: grid;
	place-items: center;
	width: 90%;
	margin-top: 32px;
	.about_title {
		font-size: 1.3rem;
		color: $italian-newRed;
		text-transform: uppercase;
	}
	.about_us_caption {
		width: 90%;
		font-weight: 700;
		font-size: 1rem;
		text-align: center;
		text-transform: capitalize;
		color: $italian-blue;
	}
	.about_us_history {
		width: 100%;
		font-weight: 400;
		font-size: 0.71rem;
		line-height: 20px;
		text-align: center;
		text-transform: capitalize;
		color: $italian-blue;
	}
}
#loyal_section {
	min-height: 10vh;
	display: grid;
	place-items: start;
	.loyal_customers {
		display: grid;
		place-items: center;
		align-self: start;
		.loyal_title {
			font-size: 1rem;
			color: $italian-blue;
			text-transform: uppercase;
		}
		.loyal_caption {
			font-size: 1.3rem;
			color: $italian-newRed;
			text-transform: uppercase;
		}
		> p {
			width: 90%;
			font-weight: 400;
			font-size: 0.71rem;
			line-height: 20px;
			text-align: center;
			text-transform: capitalize;
			color: $italian-blue;
		}
	}
}
