/** @format */

@use "partials/header";
@use "partials/footer";
@use "partials/general";

$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #e9e7e7;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$opacity: 0.22;

#our_story {
	display: grid;
	place-items: start;
	justify-self: center;
	align-self: start;
	width: 90%;
	background-color: $italian-limegreen;
	margin-bottom: 32px;
	.about_us {
		display: grid;
		place-items: center;
		align-self: start;
		> img {
			align-self: start;
			width: 100%;
			border-bottom: 3px solid $italian-newRed;
		}
		.old_location{
			color: $italian-blue;
			font-size:.6rem;
		}
	}
}
.about-content{
	min-height: 20vh;
	margin-top: 32px;
	display: grid;
	place-items: center;
	width: 90%;
	.about_title {
		font-size: 1.3rem;
		color: $italian-newRed;
		text-transform: uppercase;
	}
	.about_us_caption {
		width:90%;
		font-size: 1rem;
		font-weight: 700;
		text-align: center;
		text-transform: capitalize;
		color: $italian-blue;
	}
}
.about_description {
	width: 100%;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	
	.about_us_history {
		width: 100%;
		font-weight: 400;
		font-size: 0.71rem;
		line-height: 20px;
		margin-top: 16px;
		text-align: center;
		text-transform: capitalize;
		color: $italian-blue;
	}
}
.owner_content{
	display: grid;
	place-items: center;
	width: 100%;
	grid-template-columns: 1fr;
	margin-top: 16px;

}
.about_owners{
	display:grid;
	place-items: center;
	align-self: start;

	img{
		width:90%
		
	}
	.owner_name,.owner_position{
		color:$italian-newRed;
		font-size: .67rem;

	}
	.owner_position{
		color:$italian-blue;
	}
}
.progress{
	display: grid;
	place-items: center;
	width:100%; 

}
.what_we_do, .where_we_are{
	width:90%;
	display: grid;
	place-items: center;
	h2{
		color: $italian-newRed;
		font-size: 1.3rem;
		margin-top: 16px;
	}
	p{
		color:$italian-blue;
		font-size:.71rem;
		margin-bottom: 16px;
		
	}
	iframe{
		
		width: 90%;
	
	}
	.progress_location{
		font-size:.61rem;
	}
}
.where_we_are{
	img{
		margin-top: 16px;
		border-bottom:5px solid  #e07714;
	}
}

@media only screen and (min-width: 600px) {
	
	.about_description {
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));
		.about_us_history{
			width: 90%;
			align-self: start;
		}

	}
	.owner_content{
		grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));


	}
		
	
}

// @media only screen and (min-width: 1000px) {
// 	.about-content {
// 			grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));

// 	}
// 	.about_description{
// }
 
// }

