/** @format */

@use "partials/header";
@use "partials/footer";
@use "partials/general";
$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$italian-light-body: #6e6c6c;
$italian-gray-back: #eeeeee;
$opacity: 0.22;

#hero-section,
#main-section {
	display: grid;
	place-items: center;
	width: 90%;
}

.blog,
.blog-box {
	display: grid;
	place-items: center;
	align-self: start;
}
.blog-box {
	width: 100%;
	height: 250px;
	min-height: 29vh;
	background-color: $italian-blue;
	.blog-box_title {
		font-size: 1.6rem;
		font-weight: 900;
		line-height: 36px;
		justify-self: center;
		text-align: start;
		color: $italian-newRed;
	}
	.blog-box_body {
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 1rem;
		text-align: start;
		align-self: end;
		color: $italian-newRed;
	}
}

.blog-hero {
	.blog-hero_title {
		font-size: 1.5rem;
		line-height: 36px;
		letter-spacing: 2px;
		color: $italian-blue;
		text-align: start;
	}
	.blog-hero_body {
		color: $italian-blue;
		text-align: start;
		font-size: 0.81rem;
		font-weight: 900;
		text-transform: capitalize;
		margin: 20px 0;
	}
}
.pizza-toppings {
	min-height: 20vh;
}
.pizza-toppings,
.best-toppings,
.best_content {
	display: grid;
	place-items: center;
}
.best_content,
.pizza-shop {
	min-height: 70vh;
	display: grid;
	place-items: center;

	h2 {
		font-size: 1rem;
		width: 90%;
		color: $italian-blue;
		text-align: start;
		justify-self: start;
	}
}
.topping-content,
.shop-content {
	color: $italian-blue;
	font-size: 0.81rem;
	text-align: start;
}
.content_date,
.shop_date {
	display: grid;
	place-items: start;
	grid-template-columns: 1fr 1fr;
	justify-self: start;

	p,
	.shop_day,
	.shop_owner {
		color: $italian-newRed;
		font-size: 0.8rem;
		text-align: start;
		font-weight: 900;
		justify-self: start;
	}
}
.more_content,
.moreShop_content {
	color: $italian-newRed;
	font-size: 0.8rem;
	font-weight: 900;
	justify-self: start;
}

.load_more {
	min-height: 10vh;
	display: grid;
	place-items: center;
	.load_list {
		width: 100%;
		list-style: none;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
	}
}
.load_item {
	width: 40px;
	height: 40px;
	font-size: 0.8rem;
	font-weight: 900;
	display: grid;
	place-items: center;
	border: 0.81px solid $italian-newRed;
	color: $italian-blue;
	.load_left {
		width: 20px;
	}
	.load_right {
		width: 20px;
	}
}
.categories,
.categories-card,
.categories_list,
.categories_items {
	width: 90%;
	display: grid;
	place-items: start;
	.categories_title {
		width: 100%;
		color: $italian-newRed;
		font-size: 1.3rem;
		justify-self: start;
		text-align: start;
	}
}
.categories_list {
	list-style: none;
	.categories_items {
		a {
			color: $italian-blue;
			text-decoration: none;
			font-size: 0.9rem;
			letter-spacing: 1.2px;
		}
	}
}
.post,
.post_list,
.post_items {
	display: grid;
	place-items: center;
	h2 {
		width: 1rem;
	}
}
.post_items {
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
.post_items {
	img {
		width: 100%;
	}
	.post_link {
		color: $italian-blue;
		font-size: 0.8rem;
	}
}
@media only screen and (min-width: 1000px) {
	.blog {
		grid-template-columns: 1fr 3fr;
		justify-self: start;
	}
	#main-section {
		grid-auto-flow: column;
		grid-template-columns: 2fr 1fr;
	}
	.categories {
		width: 50%;
		justify-self: start;
		align-self: start;
	}
}
