/** @format */

@use "partials/header";
@use "partials/footer";
@use "partials/general";
$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$italian-light-body: #6e6c6c;
$italian-gray-back: #eeeeee;
$opacity: 0.22;

#main_blog_section,
#hero-section,
#main_section {
	display: grid;
	place-items: center;
	max-width: 90%;
}

.blog,
.blog-box {
	display: grid;
	place-items: center;
	align-self: start;
}
.blog-box {
	width: 100%;
	height: 250px;
	min-height: 29vh;
	background-color: $italian-blue;
	.blog-box_title {
		width: 90%;
		font-size: 1.6rem;
		font-weight: 900;
		line-height: 36px;
		justify-self: center;
		text-align: start;
		color: $italian-newRed;
	}
	.blog-box_body {
		width: 90%;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 1rem;
		text-align: start;
		align-self: end;
		color: $italian-newRed;
	}
}

.blog-hero {
	.blog-hero_title {
		font-size: 1.5rem;
		line-height: 36px;
		letter-spacing: 2px;
		color: $italian-blue;
		text-align: start;
	}
	.blog-hero_body {
		color: $italian-blue;
		text-align: start;
		font-size: 0.81rem;
		font-weight: 900;
		text-transform: capitalize;
		margin: 20px 0;
	}
}
.pizza_blogs {
	gap: 16px;
	display: grid;
	place-items: center;
}

.content {
	width: 100%;
	min-height: 301px;
	display: grid;
	place-items: center;
	border-radius: 8px;
	margin-bottom: 16px;

	background-color: $italian-limegreen;
	> div {
		display: grid;
		place-items: center;
		width: 90%;
		align-self: start;
		margin-top: 20px;
		img {
			max-width: 90%;
		}
	}
	.content-description {
		width: 100%;
		display: grid;
		place-items: center;
		margin-bottom: 16px;
		height: 300px;
		.title {
			font-size: 0.89rem;
			width: 90%;
			color: $italian-blue;
			text-align: center;
			justify-self: center;
		}
		.body {
			color: $italian-blue;
			font-size: 0.71rem;
			text-align: start;
			width: 90%;
		}
	}

	.date {
		width: 90%;
		min-height: 4vh;
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;

		.day {
			color: $italian-newRed;
			font-size: 0.6rem;
			text-align: start;
			font-weight: 900;
			justify-self: start;
			width: 90%;
		}
	}
	.more_content {
		color: $italian-newRed;
		text-decoration: none;
		font-size: 0.6rem;
		font-weight: 900;
		justify-self: center;
		width: 90%;
		text-align: start;
		&:hover {
			color: $italian-blue;
		}
	}
}

.load_item {
	width: 40px;
	height: 40px;
	font-size: 0.8rem;
	font-weight: 900;
	display: grid;
	place-items: center;
	border: 0.81px solid $italian-newRed;
	color: $italian-blue;
	.load_left {
		width: 20px;
	}
	.load_right {
		width: 20px;
	}
}
.categories,
.categories_card,
.categories_list,
.categories_items {
	display: grid;
	place-items: start;
	.categories_card {
		margin: 16px 0;
	}
	.categories_title {
		width: 100%;
		color: $italian-newRed;
		font-size: 1.2rem;
		justify-self: start;
		text-align: start;
	}
}
.categories_list {
	list-style: none;
	.categories_items {
		a {
			color: $italian-blue;
			text-decoration: none;
			font-size: 0.9rem;
			letter-spacing: 1.2px;
		}
	}
}
.post,
.post_list,
.post_items {
	display: grid;
	place-items: center;
	margin: 16px 0;
	.post_title {
		color: $italian-newRed;
		font-size: 1.2rem;
	}
}
.post_list {
	list-style: none;
	.post_items {
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
		img {
			width: 100%;
		}
		.post_link {
			color: $italian-blue;
			font-size: 0.8rem;
			width: 70%;
		}
	}
}
.load_more {
	min-height: 10vh;
	display: grid;
	place-items: center;
	justify-self: start;
	.load_list {
		width: 100%;
		list-style: none;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
	}
}
/*tablet-query*/
@media only screen and (min-width: 600px) {
	.blog {
		grid-template-columns: 1fr 2fr;
		justify-self: start;
		gap: 16px;

		.blog-box {
			justify-self: start;
		}
	}

	#main_section {
		margin-top: 48px;
		grid-auto-flow: row;
	}
	.pizza_blogs {
		grid-auto-flow: column;
		grid-template-columns: repeat(3, 1fr);

		.content {
			height: 586px;
			align-items: start;
			.content-description {
				height: 408px;
			}
		}
	}
	.categories {
		grid-template-columns: repeat(auto-fill, minmax(44%, 1fr));
	}
	.post_list .post_items {
		grid-template-columns: repeat(auto-fill, minmax(36%, 1fr));
	}
}

@media only screen and (min-width: 1000px) {
	.main_blog_section {
		width: 70%;
	}
	.blog {
		grid-template-columns: 1fr 3fr;
		.blog-hero {
			width: 100%;
			justify-self: start;
		}
	}
	#main_section {
		grid-auto-flow: column;
		grid-template-columns: 2fr 1fr;
	}
	.pizza_blogs {
		grid-auto-flow: column;
		grid-template-columns: repeat(3, 1fr);

		.content {
			height: 630px;
			align-items: start;
			.content-description {
				height: 405px;
			}
		}
	}
	.categories {
		grid-template-columns: repeat(auto-fill, minmax(52%, 1fr));
		align-self: start;
		justify-self: end;
		justify-items: end;
		.categories_title {
			text-align: end;
		}
		.categories_list .categories_items {
			justify-self: end;
			a {
				justify-self: end;
				text-align: end;
			}
		}
	}
	.post .post_title {
		text-align: end;
		justify-self: end;
	}

	.post_list .post_items {
		align-items: end;
		justify-items: end;
		img {
			width: 70%;
		}
	}
}
#book_a_table {
	background-color: $italian-blue;
	color: $italian-white;
	display: grid;
	place-items: center;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 50%;
	height: 70px;
	width: 70px;

	a {
		width: 60px;
		font-size: 0.7rem;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
	}
	img {
		width: 40px;
		height: 40px;
	}
}
