/** @format */

@use "partials/header";
@use "partials/footer";
@use "partials/general";

$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$italian-light-body:#6E6C6C;
$opacity: 0.22;


#content{
	display: grid;
	place-items:center;
	width: 90%;
}
.form_section{
	display:grid;
	.form_title{
		font-size:1.3rem;
		color:$italian-newRed;
	}
	.form_description{
		color:$italian-blue;
		width: 90%;
        font-size: 0.91rem;
        font-weight: 400;
        text-align: center;
	}
}
.form_content{

	form{
		display:grid;
		place-items: center;

	}
	.form_input_box{
		display:grid;
		place-items:center;
		.form_input{

		}

	}
}