// /** @format */
@use "partials/footer";
@use "partials/header";
@use "partials/general";

$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$italian-gray-back: #eeeeee;
$italian-light-body: #6e6c6c;
$opacity: 0.1;
$opacity: 0.22;

#content {
	display: grid;
	place-items: center;
	width: 90%;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
	align-self: flex-start;
}
.form_section {
	display: grid;
	place-items: center;
	min-height: 17vh;
	.form_title {
		font-size: 1.3rem;
		color: $italian-newRed;
		justify-self: start;
	}
	.form_description {
		color: $italian-blue;
		font-size: 0.71rem;
		font-weight: 400;
		text-align: center;
	}
}
.form_content {
	display: grid;
	place-items: start;
	height: 53vh;
	width: 100%;
}
form {
	width: 90%;
	display: grid;
	margin-top: 32px;

	.form_input_box {
		display: grid;
		width: 100%;
		.form_input {
			padding: 16px;
			background-color: $italian-gray-back;
			border: none;
			color: $italian-light-body;
			margin-bottom: 16px;
		}
	}
}
.form_message_box {
	width: 100%;
	.form_input_textArea {
		width: 100%;
		background-color: $italian-gray-back;
		border: none;
		resize: none;
		outline: none;
	}
}
.form_submit_btn {
	font-size: 12px;
	text-transform: capitalize;
	border: none;
	background-color: $italian-newRed;
	color: $italian-white;
	cursor: pointer;
	padding: 12px;
	border-radius: 10px;
	justify-self: start;
	&:hover {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
		background-color: $italian-blue;
	}
	&:active {
		transform: translateY(3px);
		box-shadow: none;
	}
}

.address {
	width: 100%;
	margin-top: 32px;
	display: grid;
	place-items: center;
	height: 200px;
	.address_title {
		font-size: 1.3rem;
		color: $italian-newRed;
		justify-self: start;
	}
}
.address_list,
.address_item,
.address_item_icon,
.address_itemContent {
	display: grid;
	place-items: start;
	width: 100%;
}

.address_item {
	grid-template-columns: 40px 1fr;
}
.address_item_icon {
	img {
		width: 30px;
	}
}
.address_itemContent {
	width: 100%;
	grid-template-columns: 1fr;
	.address_content_title,
	.address_content_body {
		color: $italian-blue;
		font-size: 0.81rem;
		font-weight: 300;
		letter-spacing: 0.5px;
		justify-self: start;
		text-align: start;
	}
}
.store-opening {
	display: grid;
	place-items: center;

	h3,
	.store-description {
		color: $italian-newRed;
		justify-self: start;
		margin-top: 16px;
	}
	.store-description {
		color: $italian-blue;
		font-size: 0.71rem;
		justify-self: center;
		text-align: center;
	}
}
.contact-hours {
	width: 100%;
	height: 26vh;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 16px;
}
.store_items {
	width: 100%;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	margin-top: 16px;
	p {
		color: $italian-blue;
		font-size: 0.81rem;
		text-align: start;
		&:hover {
			color: $italian-newRed;
		}
	}
}
.locations {
	width: 100%;
	display: grid;
	place-items: center;
	h3 {
		color: $italian-newRed;
		font-size: 1.3rem;
		margin-bottom: 16px;
		text-decoration: underline;
		justify-self: start;
	}
	.locations_card {
		width: 100%;
	}
	iframe {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	#content {
		width: 60%;
	}

	.address_list {
		grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
	}
	.address_item {
		grid-template-columns: 40px 1fr;
		grid-template-columns: 1fr;
		place-items: center;
	}
	.address_itemContent {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

		.address_content_body {
			font-size: 0.61rem;
		}
	}
	.store-hours {
		grid-template-columns: repeat(auto-fill, minmax(27%, 1fr));
		.store_hours_items {
			margin-top: 0;
		}
	}
}
@media only screen and (min-width: 1000px) {
	#content {
		width: 50%;
	}

	.form_section .form_description {
		font-size: 0.9rem;
	}
	.address_content_title {
		justify-self: center;
	}
	.address_list {
		grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
	}
	.store-hours {
		grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
		min-height: 20vh;
		.store_hours_items {
			margin-top: 0;
			width: 100%;
			.store_day {
				justify-self: center;
			}
		}
	}
}

#book_a_table {
	background-color: $italian-blue;
	color: $italian-white;
	display: grid;
	place-items: center;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 50%;
	height: 70px;
	width: 70px;

	a {
		width: 60px;
		font-size: 0.7rem;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
	}
	img {
		width: 40px;
		height: 40px;
	}
}
