/** @format */

@use "partials/header";
@use "partials/footer";
@use "partials/general";
$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$opacity: 0.22;

#vegan-section,
#vegetarian-section,
#sea-section,
#egetarian-section,
#meat-section {
	display: grid;
	justify-items: center;
	align-items: start;
	width: 80%;
}
.top_menu {
	display: grid;
	justify-items: center;
	align-items: start;
	width: 100%;
	text-align: center;
	align-self: start;
	margin-top: 20px;
	.top_menu_title {
		color: $italian-newRed;
		font-size: 1.3rem;
		text-decoration: underline;
	}
	> p {
		width: 80%;
		font-size: 0.81rem;
		line-height: 20px;
		font-weight: 700;
		color: $italian-blue;
		text-align: center;
		margin-top: 20px;
	}
}
.vegan_main {
	width: 100%;
	display: grid;
	place-items: center;
	justify-self: center;
	> h2 {
		color: $italian-blue;
		font-weight: 900;
		font-size: 1.3rem;
		margin: 18px;
		text-decoration: underline;
	}
	.out_off_item {
		width: 80%;
		font-size: 0.81rem;
		line-height: 20px;
		font-weight: 700;
		color: $italian-blue;
		text-align: center;
		margin-top: 20px;
	}
	.hide_radio_button,
	.view_radio_button {
		display: none;
	}
}
.vegan_main_card {
	width: 100%;
	display: grid;
	place-items: center;
}
.vegan,
.mush-vegan,
.pepp-vegan,
.carro-vegan {
	width: 90%;
	min-height: 346px;
	display: grid;
	place-items: center;
	border-radius: 8px;
	margin-bottom: 16px;
	background-color: $italian-limegreen;
}
.vegan-imageCard,
.mush-vegan-imageCard,
.pepp-vegan-imageCard,
.carro-vegan-imageCard {
	display: grid;
	place-items: center;
	width: 90%;
	align-self: start;
	margin-top: 20px;
}

.vegan-card_title,
.mush-vegan-card_title,
.pepp-vegan-card_title,
.carro-vegan-card_title {
	font-size: 0.8rem;
	color: $italian-blue;
	text-transform: capitalize;
	text-align: center;
	margin-top: 20px;
}
.more-description-card,
.mush-more-description-card,
.pepp-more-description-card,
.carro-more-description-card {
	width: 90%;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
	justify-self: end;
	align-self: end;

	.details_radio,
	.mush-details_radio,
	.pepp-details_radio,
	.carro-details_radio {
		display: none;
	}
	.vegan-value,
	.mush-vegan-value,
	.pepp-vegan-value,
	.carro-vegan-value {
		color: $italian-blue;
		font-size: 0.7rem;
		justify-self: center;
		align-self: end;
		font-weight: 900;
		padding: 10px 10px;
	}
	> p {
		color: $italian-blue;
	}
	.view_details,
	.details_mush,
	.details_pepp,
	.details_carro {
		align-self: end;
		padding: 10px 10px;

		p {
			color: $italian-newRed;
			font-size: 0.7rem;
			justify-self: center;
			font-weight: 900;
			align-self: center;
			cursor: pointer;
			&:hover {
				color: $italian-blue;
			}
			&:active {
				transform: translateY(3px);
				box-shadow: none;
			}
		}
	}
	.add-cart,
	.mush-add-cart,
	.pepp-add-cart,
	.carro-add-cart {
		background-color: $italian-newRed;
		border: none;
		font-size: 0.6rem;
		justify-self: end;
		align-self: end;
		border-bottom-right-radius: 8px;
		padding: 10px 10px;
		&:hover {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
			background-color: $italian-blue;
			color: $italian-white;
		}
		&:active {
			transform: translateY(3px);
			box-shadow: none;
		}
	}
	#details_open:checked ~ .vegan-description {
		display: block;
	}
	#details_mush:checked ~ .mush-vegan-description {
		display: block;
	}
	#details_pepp:checked ~ .pepp-vegan-description {
		display: block;
	}
	#details_carro:checked ~ .carro-vegan-description {
		display: block;
	}
}
.vegan-description,
.mush-vegan-description,
.pepp-vegan-description,
.carro-vegan-description {
	display: grid;
	place-items: center;
	width: 90%;
	position: absolute;
	top: -194px;
	left: 0;
	background-color: $itaian-pureWhite;
	box-shadow: 12px 12px 10px rgba($italian-limegreen, $opacity * 2);
	transition: none;
	border-radius: 6px;
	display: none;
	.details_radio_close,
	.details_radio_mush,
	.details_radio_pepp,
	.details_radio_carro {
		display: none;
	}
	.view_details,
	.view_details_mush,
	.view_details_pepp,
	.view_details_carro {
		display: grid;
		place-items: center;
		width: 100%;
		img {
			margin-top: 10px;
		}
	}
	.vegan-main-card,
	.mush-vegan-main-card,
	.pepp-vegan-main-card,
	.carro-vegan-main-card {
		display: grid;
		place-items: center;
		width: 100%;
		transition: none;
		min-height: 25vh;

		.vegan-card_body,
		.mush-vegan-card_body,
		.vegan-card_dough,
		.mush-vegan-card_dough,
		.carro-vegan-card_dough,
		p {
			color: $italian-blue;
			border: none;
			font-size: 0.7rem;
			font-weight: 900;
			width: 90%;
			text-align: center;
		}
		.vegan-card_dough,
		.mush-vegan-card_dough,
		.pepp-vegan-card_dough,
		.carro-vegan-card_dough {
			color: $italian-newRed;
		}
		> p {
			color: $italian-blue;
		}
	}
}
.addtional-vegan-menu {
	display: grid;
	place-items: center;
}

.add,
.hide {
	margin: 20px 0;
	.hide-btn,
	.add-btn {
		background-color: $italian-blue;
		width: 120px;
		text-align: center;
		border-radius: 10px;
		padding: 10px;
		text-transform: uppercase;
		font-weight: 700;

		&:hover {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
			background-color: $italian-newRed;
		}
		&:active {
			transform: translateY(3px);
			box-shadow: none;
		}
	}
}
.hide-radio {
	display: none;
}
.add-radio {
	display: none;
}
.hide {
	display: none;
}
.add {
	display: block;
}

#add:checked ~ .add {
	display: none;
}
#add:checked ~ .hide {
	display: block;
}
#hide:checked ~ .add {
	display: block;
}
#hide:checked ~ .hide {
	display: none;
}
#add:checked ~ .hidden {
	display: grid;
}
#hide:checked ~ .hidden {
	display: none;
}
.hidden {
	display: grid;
	place-items: center;
	width: 100%;
	justify-self: center;
	align-self: center;
	display: none;
}
#combo-section {
	margin-bottom: 48px;
}
@media only screen and (min-width: 600px) {
	.top_menu {
		> p {
			width: 55%;
			font-size: 0.81rem;
			line-height: 20px;
			font-weight: 700;
			color: $italian-blue;
			text-align: center;
		}
	}
	.vegan_main_card {
		width: 100%;
		grid-template-columns: 1fr 1fr;
	}
	.addtional-vegan-menu {
		width: 100%;
		display: grid;
		place-items: center;
		grid-template-columns: 1fr;
	}
	.hidden {
		width: 100%;
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (min-width: 1000px) {
	.vegan_main_card {
		width: 100%;
		grid-template-columns: repeat(4, 1fr);
	}
	.hidden {
		width: 93%;
		grid-template-columns: repeat(4, 1fr);
	}
}

#book_a_table {
	background-color: $italian-blue;
	color: $italian-white;
	display: grid;
	place-items: center;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 50%;
	height: 70px;
	width: 70px;

	a {
		width: 60px;
		font-size: 0.7rem;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
	}
	img {
		width: 40px;
		height: 40px;
	}
}
