/** @format */

@use "partials/header";
@use "partials/footer";
$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-black: #003349;
$italian-blue: #003349;
$itaian-pureWhite: #ffffff;
$italian-white: #f4f9ff;
$italian-red: #ff3c00;
$italian-newRed: #cd212a;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;

* {
	margin: 0;
	color: whitesmoke;
	padding: 0;
}
img,
svg {
	max-width: 100%;
}
body {
	list-style: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	text-align: center;
}
