/** @format */

@use "partials/header";
@use "partials/footer";
$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$opacity: 0.22;

* {
	margin: 0;
	color: whitesmoke;
	padding: 0;
}
img,
svg {
	max-width: 100%;
}
body {
	list-style: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	text-align: center;
}
main {
	min-height: 70vh;
	display: grid;
	place-items: center;

	.top_menu {
		display: grid;
		place-items: center;
		min-height: 15vh;
		.top_menu_title {
			color: $italian-newRed;
			font-size: 1.3rem;
		}
		p {
			width: 90%;
			font-size: 0.81rem;
			line-height: 20px;
			font-weight: 700;
			color: $italian-blue;
		}
	}
	.vegan_main {
		display: grid;
		place-items: center;
		.vegan_title {
			color: $italian-blue;
			font-weight: 900;
			font-size: 1.3rem;
			margin: 48px;
		}
		.vegan_main_card {
			display: grid;
			align-items: center;
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

			.vegan {
				display: grid;
				place-items: center;
				border-bottom-right-radius: 25px;
				border-bottom-left-radius: 25px;
				margin-bottom: 16px;
				.vegan-imageCard {
					width: 90%;
					box-shadow: 12px 12px 10px rgba($italian-limegreen, $opacity * 2);

					img {
						max-width: 100%;
					}
				}
				.vegan-container {
					width: 90%;
					background-color: $italian-limegreen;
					display: grid;
					place-items: center;
					min-height: 26vh;
					border-bottom-right-radius: 25px;
					border-bottom-left-radius: 25px;
					.vegan_card {
						display: grid;
						place-items: center;
						margin-top: 16px;
						width: 90%;
						min-height: 15vh;
						.vegan-card_title {
							font-size: 0.8rem;
							color: $italian-blue;
							text-transform: capitalize;
							text-align: center;
						}
						.vegan-card_body,
						.vegan-card_dough {
							color: $italian-blue;
							font-size: 0.7rem;
						}
						.vegan-card_dough {
							justify-self: start;
							margin-top: 16px;
							color: $italian-newRed;
							font-weight: 900;
						}
					}
					.vegan-description {
						display: grid;
						grid-template-columns: 1fr 1fr;
						width: 90%;
						.vegan-weight,
						.vegan-size {
							color: $italian-blue;
							font-size: 0.7rem;
							justify-self: start;
						}
						.vegan-sellerSize {
						}
					}
					.vegan-price {
						width: 100%;
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;
						justify-self: end;
						align-self: end;
						align-items: center;
						.vegan-value,
						.vegan-details {
							color: $italian-blue;
							font-size: 0.6rem;
							justify-self: center;
							font-weight: 900;
						}
						.vegan-details {
							color: $italian-newRed;
							font-size: 0.6rem;
						}
						button {
							background-color: $italian-newRed;
							border: none;
							font-size: 0.6rem;
							justify-self: end;
							align-self: end;
							border-bottom-right-radius: 25px;
							padding: 10px 10px;
						}
					}
				}
			}
		}
	}
}
#book_a_table {
	background-color: $italian-blue;
	color: $italian-white;
	display: grid;
	place-items: center;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 50%;
	height: 70px;
	width: 70px;

	a {
		width: 60px;
		font-size: 0.7rem;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
	}
	img {
		width: 40px;
		height: 40px;
	}
}
