@use "partials/header";
@use "partials/footer";

// $italian-limegreen: #9caa8d;#E5EAEC #D1E0D7 #D1E0D7
$italian-limegreen: #d1e0d7;

$italian-limeLight: #deffbb;
// $itaian-black: #0e0d0d;#003349
$itaian-black: #003349;
$itaian-pureWhite: #ffffff;
$italian-white: #f4f9ff;
$italian-red: #ff3c00;
$italian-newRed: #cd212a;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;

* {
  margin: 0;
  padding: 0;
}
body {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
}
#main {
  min-height: 80vh;
  display: grid;
  place-items: start;
  grid-template-columns: 1fr;
  background-color: $itaian-pureWhite;
  .main-menu {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    align-self: start;
    width: 100%;
    border: 1px solid $italian-limegreen;
    .menu-list {
      width: 100%;
      min-height: 6vh;
      list-style: none;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      .menu-item {
        font-size: 0.69rem;
        letter-spacing: 0.0211px;
        text-transform: uppercase;
        color: $italian-newRed;
        font-weight: 900;
      }
    }
  }

  .hero {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    align-self: start;
    min-height: 10vh;
    .main-hero {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      align-self: start;
    }
    .hero-content {
      background-color: $italian-limegreen;
      height: 40vh;
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      align-self: start;
      .hero-title {
        width: 90%;
        color: $itaian-black;
        font-size: 1.5rem;
      }
      .hero-body {
        width: 90%;
        font-size: 0.9rem;
        color: $itaian-black;
      }
      button {
        border: none;
        font-weight: bolder;
        width: 40%;
        padding: 6px 15px;
        border-radius: 15px;
        color: $italian-white;
        background-color: $italian-newRed;
      }
    }
  }
  .image-content {
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  #our-history {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    .history-content {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      .history-title {
        font-family: "Fasthand", cursive;
        color: $italian-newRed;
      }
      .history-body {
        width: 90%;
        font-size: 0.9rem;
        color: $itaian-black;
        a {
          color: $italian-newRed;
          text-decoration: none;
        }
      }
    }
  }
  #best-sellers {
    min-height: 10vh;
    .best-content {
      height: 20vh;
      h2 {
        color: $italian-newRed;
      }
    }
    .best-imgContent {
      .best-sellerTitle {
        color: $italian-newRed;
      }
      img {
        max-width: 40%;
        object-fit: cover;
      }
    }
  }
}
// / tablet-query
@media only screen and (min-width: 600px) {
  #main {
    .main-menu {
      border: none;
      .menu-list {
        width: 70%;
        border: 1px solid red;
        background-color: yellow;
      }
    }
    // width: 76%;
    // margin: 16px;
    // border-radius: 15px;
    // background: white;
  }
}
