/** @format */
@use "partials/header";
@use "partials/footer";
@use "partials/general";

$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$italian-gray-back: #eeeeee;
$italian-light-body: #6e6c6c;
$opacity: 0.1;

.hero-content {
	display: grid;
	place-items: center;
	align-self: start;
	.hero-slider {
		display: grid;
		grid-auto-flow: column;
		position: relative;
		place-items: center;
	}
}
.hero {
	display: grid;
	place-items: center;
	> img {
		max-width: 100%;
		object-fit: cover;
	}
}
.hero-info {
	min-height: 17.5vh;
	display: grid;
	place-items: start;
	grid-template-columns: 1fr;
	position: absolute;
	top: 15%;
	left: 0;
	margin-left: 16px;

	&::before {
		position: absolute;
		top: -20%;
		right: -34px;
		left: 0;
		bottom: -5%;
		min-width: 100%;
		min-height: 100%;
		background-color: rgba($italian-shadow, $opacity);
	}
	.hero-title {
		width: 100%;
		text-align: center;
		color: $itaian-pureWhite;
		letter-spacing: 1.2px;
		font-size: 1.3rem;
		font-weight: 900;
		align-self: start;
		text-align: start;
	}
	.hero-body {
		width: 90%;
		font-size: 0.7rem;
		color: $itaian-pureWhite;
		width: 60%;
		text-align: start;
	}
	button {
		border: none;
		padding: 10px 15px;
		background-color: $italian-newRed;
		box-shadow: 4px 4px 10px rgba($italian-white, $opacity);
		border-radius: 9px;
		color: $italian-white;
		text-transform: capitalize;
		font-weight: 700;
		&:hover {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
			background-color: $italian-white;
			color: $italian-newRed;
		}
		&:active {
			transform: translateY(3px);
			box-shadow: none;
		}
	}
}
#main-menu {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	align-self: start;
	margin-bottom: 16px;
	width: 100%;
}
.our_menu {
	min-height: 29vh;
	display: grid;
	margin-top: 16px;
	margin-bottom: 16px;
	.menu_sub_title {
		color: $italian-newRed;
		font-weight: 900;
	}
	.menu_text {
		color: $italian-blue;
		font-size: 0.8rem;
		text-align: center;
		line-height: 20px;
		width: 90%;
		justify-self: center;
	}
	.menu_sub_body {
		color: $italian-blue;
	}
}
.menu-list {
	width: 90%;
	min-height: 12vh;
	list-style: none;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}
.menu-item {
	font-size: 0.69rem;
	border: 1px solid $italian-newRed;
	background-color: $itaian-pureWhite;
	color: $itaian-pureWhite;
	padding: 4px 8px;
	border-radius: 25px;
	font-weight: 900;
	&:hover {
		background-color: $italian-blue;
		color: $italian-white;
	}
	&:active {
		border: 1px solid $italian-newRed;
		background-color: $italian-newRed;
		color: $itaian-pureWhite;
		transform: translateY(3px);
		box-shadow: none;
	}
}

.menu-item__link {
	letter-spacing: 0.0211px;
	text-transform: uppercase;
	color: $italian-newRed;
	text-decoration: none;
	&:active {
		color: $itaian-pureWhite;
		background-color: $italian-newRed;
	}
}
#best-sellers {
	display: grid;
	align-self: start;
	place-items: center;
	width: 100%;
}
.best-content {
	width: 100%;
	display: grid;
	place-items: center;
	min-height: 12vh;
	text-align: center;
	.best-title {
		font-size: 1.4rem;
		color: $italian-newRed;
		text-transform: capitalize;
	}
	.best-body {
		color: $italian-blue;
		font-size: 0.9rem;
		font-weight: 900;
	}
	.best-motto {
		color: $italian-blue;
		font-size: 0.8rem;
		font-weight: 400;
		margin: 16px 0;
		width: 80%;
	}
}
.best_seller_card {
	display: grid;
	place-items: center;
	width: 90%;
}
.best_pizza {
	width: 90%;
	min-height: 346px;
	display: grid;
	place-items: center;
	border-radius: 8px;
	margin-bottom: 16px;
	background-color: $italian-limegreen;
}
.best-imageCard {
	display: grid;
	place-items: center;
	width: 90%;
	align-self: start;
	margin-top: 20px;
	img {
		max-width: 90%;
	}
}

.best-pizza_title {
	font-size: 0.8rem;
	color: $italian-blue;
	text-transform: capitalize;
	text-align: center;
	margin-top: 20px;
}
.best-text {
	color: $italian-blue;
	font-size: 0.7rem;
	justify-self: center;
	align-self: end;
	text-align: center;
	padding: 10px 10px;
	width: 90%;
}
.best-description {
	width: 90%;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	position: relative;
	justify-self: center;
	margin-bottom: 16px;
	.best-value {
		color: $italian-blue;
		font-size: 0.8rem;
		justify-self: center;
		font-weight: 900;
		padding: 10px 10px;
	}
	.best-order {
		color: $italian-white;
		font-weight: bold;
		background-color: $italian-newRed;
		padding: 6px 10px;
		border-radius: 15px;
		font-size: 0.7rem;

		&:hover {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
			background-color: $italian-blue;
		}
		&:active {
			transform: translateY(3px);
			box-shadow: none;
		}
	}
}

#crew {
	width: 100%;
	display: grid;
	place-items: center;
	margin: 16px 0;
	background-color: $italian-limegreen;

	.crew_member_hiring {
		display: grid;
		padding-bottom: 16px;

		h2 {
			color: $italian-blue;
			font-size: 1.3rem;
			width: 90%;
			justify-self: center;
		}
		.crew-link {
			background-color: $italian-newRed;
			width: 90px;
			text-align: center;
			justify-self: center;
			color: $itaian-pureWhite;
			font-weight: 900;
			font-size: 0.9rem;
			padding: 8px;
			text-decoration: none;
		}
	}
}
#pizza-school {
	width: 90%;
	display: grid;
	place-items: center;
	background-image: url("/assets/images/pizza-img/ingredients4.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	margin-bottom: 32px;
	.classes-details {
		display: grid;
		place-items: center;
		.school-title {
			color: $italian-newRed;
			font-size: 1.4rem;
			margin: 16px;
		}
		.school-body {
			color: $italian-blue;
			font-weight: 900;
			font-size: 0.8rem;
			line-height: 20.6px;
			width: 90%;
			text-align: center;
		}
		.learn-more {
			color: $italian-newRed;
			margin-top: 16px;
			text-decoration: none;
			font-weight: 900;
		}
	}

	.classes-card {
		display: grid;
		place-items: center;
		width: 80%;
	}
	.classes {
		width: 90%;
		min-height: 301px;
		display: grid;
		place-items: center;
		border-radius: 8px;
		margin-bottom: 16px;
		margin-top: 32px;
		background-color: $italian-limegreen;
		.classes-imges {
			display: grid;
			place-items: center;
			width: 90%;
			align-self: start;
			margin-top: 20px;
			img {
				max-width: 90%;
			}
		}
	}
	.classes-description {
		display: grid;
		justify-items: center;
		align-items: start;
		align-self: start;
		.classes-title {
			color: $italian-newRed;
			text-transform: capitalize;
			font-size: 0.9rem;
		}
		.classes-body {
			color: $itaian-black;
			width: 90%;
			font-size: 0.71rem;
			align-self: start;
		}
	}
}

@media only screen and (min-width: 600px) {
	.hero {
		align-items: start;
		img {
			width: 100%;
			height: 35vh;
		}
	}
	.hero-info {
		min-height: 16.5vh;
		top: 7%;
		left: 27px;
		width: 70%;
		.hero-title {
			font-size: 1.4rem;
		}
		.hero-body {
			font-size: 0.91rem;
		}
	}

	.our_menu {
		.menu_text {
			width: 60%;
		}
	}
	.menu-list {
		width: 70%;
		grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
	}
	.best-content {
		width: 87%;
	}
	#best-sellers {
		.best_seller_card {
			width: 71%;
			grid-template-columns: 1fr 1fr;
		}
	}

	.classes-card {
		grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
		width: 70%;
		.classes {
			min-height: 341px;
		}
	}
}
@media only screen and (min-width: 1000px) {
	.hero {
		align-items: start;
		img {
			width: 100%;
			height: 53vh;
		}
	}
	.hero-info {
		top: 20%;
		left: 71px;
		width: 70%;
		.hero-title {
			font-size: 2rem;
		}
		.hero-body {
			font-size: 1rem;
		}
	}
	.our_menu {
		min-height: 20vh;
		.menu_text {
			width: 40%;
		}
	}
	.menu-list {
		width: 40%;
		grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
	}
	.best-content {
		width: 57%;
	}
	#best-sellers {
		.best_seller_card {
			width: 77%;
			height: 77vh;
			grid-template-columns: repeat(4, 1fr);
			.best_pizza {
				height: 388px;
			}
			.best-order {
				font-size: 0.7rem;
			}
		}
	}
	.classes-details {
		background-color: $italian-limegreen;
		padding: 16px;
	}
	.classes-card {
		grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
		width: 70%;
		.classes {
			min-height: 341px;
		}
	}
}
#book_a_table {
	background-color: $italian-blue;
	color: $italian-white;
	display: grid;
	place-items: center;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 50%;
	height: 70px;
	width: 70px;

	a {
		width: 60px;
		font-size: 0.7rem;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
	}
	img {
		width: 40px;
		height: 40px;
	}
}
