/** @format */
@use "partials/header";
@use "partials/footer";
$italian-limegreen: #d1e0d7;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: rgb(224, 224, 224);
$italian-red: #ff3c00;
$italian-newRed: #cd212a;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$opacity: 0.27;

* {
	margin: 0;
	color: whitesmoke;
	padding: 0;
}
img,
svg {
	max-width: 100%;
}
body {
	list-style: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	text-align: center;
}
#main {
	min-height: 80vh;
	display: grid;
	place-items: start;
	grid-template-columns: 1fr;
	.hero-content {
		display: grid;
		place-items: center;
		.hero-slider {
			display: grid;
			grid-auto-flow: column;
			position: relative;
			.hero {
				display: grid;
				place-items: center;
				> img {
					max-width: 100%;
					object-fit: cover;
				}
				.hero-info {
					height: 22vh;
					display: grid;
					place-items: start;
					grid-template-columns: 1fr;
					align-self: start;
					justify-self: start;
					position: absolute;
					top: 15%;
					left: 0;
					margin-left: 16px;
					&::after {
						content: "";
						position: absolute;
						min-width: 100%;
						min-height: 100%;
						background-color: rgba($italian-shadow, $opacity);
					}

					.hero-title {
						width: 100%;
						text-align: center;
						color: $itaian-pureWhite;
						letter-spacing: 1.2px;
						font-size: 1.6rem;
						font-weight: 900;
						align-self: start;
						text-align: start;
					}
					.hero-body {
						width: 90%;
						font-size: 0.9rem;
						color: $itaian-pureWhite;
						width: 60%;
						text-align: start;
						background-color: rgba($italian-shadow, $opacity);
					}
					button {
						border: none;
						padding: 10px 15px;
						background-color: $itaian-pureWhite;
						box-shadow: 4px 4px 10px rgba($italian-white, $opacity);
						border-radius: 9px;
						color: $italian-blue;
						text-transform: capitalize;
						font-weight: 700;
					}
				}
			}
		}
	}
}
/*tablet-size*/
