// $italian-limegreen: #9caa8d;#E5EAEC #D1E0D7 #D1E0D7
$italian-limegreen: #d1e0d7;
$italian-limeLight: #deffbb;
// $itaian-black: #0e0d0d;#003349
$itaian-black: #003349;
$itaian-pureWhite: #ffffff;
$italian-white: #f4f9ff;
$italian-red: #ff3c00;
$italian-newRed: #cd212a;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;

#footer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: $italian-limegreen;
  #main-footer {
    margin-top: 14px;
    width: 90%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    #footer-nav,
    #activity {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      width: 90%;
      margin-top: 3px;
      .footerLogo-link {
        .footer-logo {
        }
      }
      .nav-title,
      .activity-title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $italian-newRed;
      }
      .footerNav-list,
      .activity-list {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        font-size: 0.9rem;
        font-weight: 400;
        .footerNav-item,
        .activity-items {
          .footerNav-link,
          .activity-link {
            color: $itaian-black;
            text-decoration: none;

            &:hover {
              color: $italian-white;
            }
          }
        }
      }
    }
    #contact-us {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      width: 90%;
      .contact-title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $italian-newRed;
      }
      .contact-info {
        font-size: 0.9rem;
        width: 90%;
        color: $itaian-black;
        .contact-infoLink {
          color: $italian-newRed;
          font-weight: bolder;
          &:hover {
            color: $italian-white;
          }
        }
      }
      .social-list {
        list-style: none;
        display: grid;
        place-items: start;
        grid-template-columns: repeat (3, 1fr);
        .social-item {
          padding: 5px;
          .social-link {
            width: 400px;
            .social-img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    #subscribe {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      width: 90%;
      .subscribe-title {
        width: 90%;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $italian-newRed;
      }
      .subscribe-info {
        text-align: center;
        font-size: 0.9rem;
        width: 90%;
        color: $itaian-black;
      }
      form {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        height: 11vh;
        input {
          min-height: 10px;

          border-radius: 6px;
          padding: 8px;
          background-color: $italian-white;
          border: 1px solid $italian-limegreen;
        }
        button {
          background-color: $italian-newRed;
          border: none;
          width: 62px;
          padding: 6px;
          color: $italian-white;
          border-radius: 6px;
        }
      }
    }
  }
  .copy-right {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    justify-self: start;
    margin: 16px 0;
    width: 100%;
    text-align: start;
    .copy-body {
      font-size: 0.6rem;
      &:hover {
        color: $italian-newRed;
      }
    }
    .copy-tearms {
      font-size: 0.6rem;
      justify-self: start;
      &:hover {
        color: $italian-newRed;
      }
    }
  }
}

// / tablet-query
@media only screen and (min-width: 600) {
  #footer-nav,
  #activity {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }
}
