/** @format */
$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-black: #003349;
$italian-blue: #003349;
$itaian-pureWhite: #ffffff;
$italian-white: #f4f9ff;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-lightgray: #f6f6f6;

#footer {
	min-height: 20vh;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	background-color: $italian-limegreen;
	width: 90%;
}
#main-section {
	display: grid;
	place-items: center;
	margin-top: 16px;
	width: 80%;
	.footerLogo-link {
		text-decoration: none;
	}
}
#main-footer {
	margin-top: 14px;
	width: 90%;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
}
#footer-nav,
#activity,
.store-highlight {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	width: 90%;
	margin-bottom: 32px;
	.nav-title,
	.store-title {
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $italian-newRed;
	}
}
.footerNav-list {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	font-size: 0.9rem;
	font-weight: 400;
	list-style: none;

	.footerNav-link {
		color: $itaian-black;
		text-decoration: none;
		&:hover {
			color: $italian-newRed;
		}
	}
}
.store-hours {
	width: 100%;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	.store_hours_items {
		justify-self: start;
		align-self: end;
		width: 100%;
		> p {
			color: $italian-blue;
			font-size: 0.8rem;
			text-align: center;
			&:hover {
				color: $italian-newRed;
			}
		}
	}
}
#contact-us {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	width: 90%;
	.contact-title {
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $italian-newRed;
	}
}
.contact-info {
	font-size: 0.9rem;
	width: 90%;
	color: $itaian-black;
	.contact-infoLink {
		color: $italian-newRed;
		font-weight: bolder;
		&:hover {
			color: $italian-red;
		}
	}
}
.footer_social_list {
	width: 55%;
	list-style: none;
	display: grid;
	place-items: start;
	grid-template-columns: repeat(3, 1fr);
}
.footer_social_item {
	padding: 5px;
	display: grid;
	place-items: center;
}
.footer_social_link {
	align-items: end;
	.social_img {
		width: 30px;
		height: 30px;
	}
}

#subscribe {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	width: 90%;
	.subscribe-title {
		width: 90%;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $italian-newRed;
	}
}
.subscribe-info {
	text-align: center;
	font-size: 0.9rem;
	width: 90%;
	color: $itaian-black;
}
form {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	height: 11vh;
	input {
		min-height: 10px;
		border-radius: 6px;
		padding: 8px;
		background-color: $italian-lightgray;
		border: 1px solid $italian-limegreen;
		color: $italian-blue;
	}
	button {
		background-color: $italian-newRed;
		border: none;
		width: 62px;
		padding: 6px;
		color: $italian-white;
		border-radius: 6px;
	}
}

.copy-right {
	display: grid;
	place-items: center;
	margin: 16px 0;
	width: 90%;

	.copy-body {
		font-size: 0.6rem;
		color: $itaian-black;
		text-align: center;

		&:hover {
			color: $italian-newRed;
		}
	}
}

@media only screen and (min-width: 600px) {
	#footer {
		align-items: start;
		justify-items: center;
		.footerLogo-link {
			text-decoration: none;
			justify-self: start;
		}
	}
	#main-footer {
		margin-top: 20px;
		grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
		align-items: start;
		justify-self: center;
	}
	#footer-nav {
		align-self: start;
		justify-self: center;
		.nav-title,
		.activity-title {
			justify-self: center;
		}
	}
	.footerNav-list {
		justify-self: center;
		.footerNav-item {
			justify-self: center;
			.footerNav-link {
				color: $itaian-black;
				text-decoration: none;
			}
		}
	}
	button {
		justify-self: start;
	}
}

@media only screen and (min-width: 1000px) {
	#main-section {
		justify-self: center;
	}
	#main-footer {
		margin-top: 20px;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		align-items: start;
		justify-self: center;
		justify-self: center;
	}

	.copy-right {
		place-items: start;
		.copy-body {
			font-size: 0.8rem;
		}
	}
}
