/** @format */
* {
	margin: 0;
	color: whitesmoke;
	padding: 0;
}
img,
svg {
	max-width: 100%;
}
body {
	list-style: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	text-align: center;
	width: 100%;
}

#header,
#main,
#footer {
	display: grid;
	place-items: center;
	width: 100%;
}

#main {
	min-height: 80vh;
}
