/** @format */
* {
	margin: 0;
	color: whitesmoke;
	padding: 0;
}
img,
svg {
	max-width: 100%;
}
body {
	list-style: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	text-align: center;
}
