/** @format */

$italian-limegreen: #ffffff;
$italian-limeLight: #deffbb;
$itaian-black: #003349;
$italian-blue: #003349;
$itaian-pureWhite: #ffffff;
$italian-white: #f4f9ff;
$italian-red: #ff3c00;
$italian-newRed: #cd212a;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;

#header {
	min-height: 10vh;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 16px;
	position: sticky;
	top: 0px;
	z-index: 1000;
	background-color: $italian-limegreen;
	.logo-link {
		justify-self: center;
		order: 1;
		.logo {
			color: $italian-blue;
		}
	}
	.nav-toggle {
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;
		justify-self: start;
		align-self: center;

		.menu_radio_button {
			display: none;
		}
		.label-close {
			display: grid;
			justify-items: start;
			align-items: end;
			display: none;
		}
		.label-open {
			display: grid;
			justify-items: start;
			align-items: end;
		}

		.menu {
			justify-self: start;
			width: 15px;
			height: 15px;
		}
		.close {
			justify-self: start;
			align-self: end;
			width: 100%;
			height: 100%;
		}
		#menu_open:checked ~ .label-open {
			transform: translateX(-700px);
			display: none;
		}
		#menu_open:checked ~ .label-close {
			transform: translateX(0px);
			display: block;
		}

		#menu_open:checked ~ #nav {
			transform: translateX(0);
			transition: transform 1s ease-in-out;
		}
		#menu_close:checked ~ #nav {
			transform: translateX(-700px);
			transition: transform 1.5s ease-in-out;
		}
		#nav {
			width: 100%;
			display: grid;
			place-items: center;
			grid-template-columns: 1fr;
			grid-template-rows: 120px 400px;
			position: absolute;
			top: 100%;
			left: 0;
			height: 100vh;
			background-color: $italian-limegreen;
			padding-left: 16px;
			transform: translateX(-1000px);

			.primary-nav {
				display: grid;
				place-items: center;
				width: 100%;
				align-self: start;
				.nav-list {
					list-style: none;
					display: grid;
					grid-template-columns: 1fr;
					grid-auto-rows: repeat(5, 1fr);
					height: 32vh;
					justify-self: start;
					align-self: start;
					width: 100%;
					.nav-items {
						color: $italian-blue;
						font-weight: 900;
						align-self: end;
						justify-self: start;

						a {
							text-decoration: none;
							color: $itaian-black;
							letter-spacing: 1.2px;
							text-transform: uppercase;
							position: relative;
							height: 0;
							padding-bottom: 12.6px;

							&:active {
								color: $italian-white;
							}
							&:hover {
								color: $italian-newRed;
							}
							&::after {
								content: "";
								width: 100%;
								height: 2.16px;
								background-color: $italian-newRed;
								position: absolute;
								left: 0;
								bottom: 0;
								transform: scaleX(0);
								transition: transform ease-in;
								transition: transform 0.5s;
							}
							&:hover::after {
								transform: scaleX(1);
							}
						}
					}
				}
			}
			.secondary-nav {
				width: 100%;
				display: grid;
				place-items: center;
				align-self: end;
				.social-list {
					width: 100%;
					background-color: $italian-limegreen;
					font-weight: 900;
					display: grid;
					place-items: center;
					grid-auto-flow: column;
					grid-template-columns: repeat(auto-fill, minmax(51px, 1fr));
					.social-item {
						width: 100%;
						display: grid;
						place-items: center;
						grid-template-columns: 1fr;
						a {
							text-decoration: none;
							display: grid;
							place-items: center;
							grid-template-columns: 1fr 1fr;
							width: 100%;
							img {
								width: 40px;
								height: 40px;
							}
						}
					}
				}
				.nav-login {
					width: 100%;
					min-height: 9vh;
					display: grid;
					place-items: center;
					justify-items: center;
					justify-self: start;
					grid-auto-flow: column;
					min-height: 12vh;
					grid-template-columns: 1fr;
					grid-template-rows: 1fr 1fr;
					justify-items: start;
					margin-top: 12px;
					.login-link {
						display: grid;
						place-items: center;
						justify-self: start;
						grid-auto-flow: column;
						grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
						color: $italian-newRed;
						font-weight: 900;
						text-decoration: none;
						img {
							width: 20px;
							height: 20px;
							justify-self: start;
							fill: $italian-newRed;
						}
					}
					button {
						background-color: $italian-newRed;
						border: none;
						color: $italian-white;
						background-color: $italian-blue;
						border-radius: 10px;
						font-size: 0.8rem;
						font-weight: 400;
						padding: 8px 8px;
						text-align: center;
					}
				}
			}
		}
	}
	.cart {
		justify-self: end;
		order: 2;
	}
}

// tablet-size
// @media only screen and (min-width: 1000px) {
// 	.nav-toggle {
// 		#nav {
// 			transform: translateX(-1000px);
// 		}
// 	}
// }
// / desk-top-query

@media only screen and (min-width: 1000px) {
	#header {
		grid-auto-flow: column;
		grid-template-columns: 19% 70% 5%;
		position: sticky;
		top: 0px;
		z-index: 12;
		background-color: $italian-limegreen;
		.logo-link {
			justify-self: center;
			order: 0;
			.logo {
				color: $italian-blue;
			}
		}
		.nav-toggle {
			width: 100%;
			place-items: end;
			grid-auto-flow: column;
			grid-template-columns: 1fr;
			padding-left: 0;

			.menu_radio_button {
				display: none;
			}
			.label-close,
			.label-open {
				display: none;
			}
			.menu {
				display: none;
			}
			.close {
				display: none;
			}
			#menu_open:checked ~ #nav {
				transform: translateX(0);
				transition: transform 3s ease-in-out;
			}
			#nav {
				width: 100%;
				place-items: end;
				grid-template-rows: 1fr;
				position: static;
				padding-left: 0;
				transform: translateX(0);
				height: 120px;
				.primary-nav {
					order: 2;
					.nav-list {
						grid-auto-flow: column;
						height: auto;
						width: 100%;
						gap: 32px;
						.nav-items {
							font-weight: 900;
							align-self: center;
							justify-self: end;
							padding-bottom: 18px;

							a {
								padding-bottom: 34.6px;

								&:active {
								}
								&:hover {
								}
								&::after {
								}
								&:hover::after {
								}
							}
						}
					}
				}
				.secondary-nav {
					width: 41%;
					place-items: start;
					grid-template-columns: 1fr;
					justify-self: end;
					align-self: start;
					.social-list {
						width: 38%;
						font-weight: 900;
						display: grid;
						place-items: center;
						grid-auto-flow: column;
						grid-template-columns: repeat(auto-fill, minmax(33px, 1fr));
						justify-self: end;
						display: none;
						.social-item {
							a {
								img {
								}
							}
						}
					}
					.nav-login {
						width: 67%;
						justify-self: end;
						min-height: auto;
						grid-template-rows: 1fr;
						justify-items: start;
						margin-top: 0;
						.login-link {
							justify-self: end;
							grid-template-columns: repeat(auto-fill, minmax(26px, 1fr));
							align-self: start;
							align-self: center;
							margin-right: 10px;
							width: 63px;
							img {
							}
						}

						button {
							align-self: end;
						}
					}
				}
			}
		}
		.cart {
			align-self: start;
		}
	}
}
