/** @format */

$italian-limegreen: #eeeeee;
$italian-limeLight: #deffbb;
$itaian-gray: #ffffff;
$itaian-black: #000000;
$itaian-pureWhite: #ffffff;
$italian-white: #f1f1f1;
$italian-red: #ff3c00;
$italian-newRed: #e07714;
$italian-softRed: #f6afb3;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
$italian-shadow: #2e2822;
$italian-blue: #003349;
$opacity: 0.22;

#header {
	min-height: 10vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: sticky;
	top: 0px;
	z-index: 1000;
	background-color: $italian-limegreen;
	.logo-link {
		justify-self: center;
		order: 1;
		.logo {
			color: $italian-blue;
		}
	}
}
.nav-toggle {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	justify-self: start;
	margin-left: 25px;
	.menu_radio_button {
		display: none;
	}
}
.label-close,
.label-open {
	display: grid;
	justify-items: start;
	align-items: end;
	.menu {
		justify-self: start;
		width: 15px;
		height: 15px;
	}
	.close {
		justify-self: start;
		align-self: end;
		width: 100%;
		height: 100%;
	}
}
.label-close {
	display: none;
}

#menu_open:checked ~ .label-open {
	display: none;
}
#menu_open:checked ~ .label-close {
	transform: translateX(0px);
	display: block;
}

#menu_open:checked ~ #nav {
	transform: translateX(0);
	transition: transform 1s ease-in-out;
}
#menu_close:checked ~ #nav {
	transform: translateX(-1000px);
	transition: transform 1.5s ease-in-out;
}
#nav {
	width: 100%;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 120px 400px;
	position: absolute;
	top: 100%;
	left: 0;
	height: 100vh;
	background-color: $italian-limegreen;
	padding-left: 16px;
	transform: translateX(-1000px);

	.primary-nav {
		display: grid;
		place-items: center;
		width: 100%;
		align-self: start;
	}
}
.nav-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: repeat(5, 1fr);
	height: 32vh;
	justify-self: start;
	align-self: start;
	width: 100%;
	.nav-items {
		color: $italian-blue;
		font-weight: 900;
		align-self: end;
		justify-self: start;
	}
}
.nav-link {
	text-decoration: none;
	color: $itaian-black;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	position: relative;
	height: 0;
	padding-bottom: 12.6px;

	&:active {
		color: $italian-white;
	}
	&:hover {
		color: $italian-newRed;
	}
	&::after {
		content: "";
		width: 100%;
		height: 2.16px;
		background-color: $italian-newRed;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleX(0);
		transition: transform ease-in;
		transition: transform 0.5s;
	}
	&:hover::after {
		transform: scaleX(1);
	}
}

.secondary-nav {
	width: 100%;
	display: grid;
	place-items: center;
	align-self: end;
	.social-list {
		width: 100%;
		background-color: $italian-limegreen;
		font-weight: 900;
		display: grid;
		place-items: center;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fill, minmax(51px, 1fr));
	}
}
.social-item {
	width: 100%;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	a {
		text-decoration: none;
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		img {
			width: 40px;
			height: 40px;
		}
	}
}

.nav-login {
	width: 90%;
	min-height: 9vh;
	display: grid;
	place-items: center;
	justify-self: start;
	grid-auto-flow: column;
	min-height: 12vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: start;
	margin-top: 12px;
	.login-link {
		display: grid;
		place-items: center;
		justify-self: start;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fill, minmax(31px, 1fr));
		color: $italian-newRed;
		font-weight: 900;
		text-decoration: none;
		img {
			width: 20px;
			height: 20px;
			justify-self: start;
			fill: $italian-newRed;
		}
	}
}
button {
	background-color: $italian-newRed;
	border: none;
	color: $italian-white;
	background-color: $italian-blue;
	border-radius: 10px;
	font-size: 0.8rem;
	font-weight: 400;
	padding: 8px 8px;
	text-align: center;
}

.cart {
	justify-self: end;
	order: 2;
	margin-right: 25px;
}
@media only screen and (min-width: 1000px) {
	#header {
		grid-auto-flow: column;
		grid-template-columns: 19% 70% 4%;
		.logo-link {
			justify-self: center;
			order: 0;
			.logo {
				color: $italian-blue;
			}
		}
	}
	.nav-toggle {
		width: 100%;
		place-items: end;
		grid-auto-flow: column;
		grid-template-columns: 1fr;
		padding-left: 0;
		margin-left: 0;
		.menu_radio_button {
			display: none;
		}
	}
	.label-close,
	.label-open,
	.menu.close {
		display: none;
	}
	#menu_open:checked ~ #nav {
		transform: translateX(0);
		transition: none;
	}
	#menu_close:checked ~ #nav {
		transform: translateX(0);
		transition: none;
	}
	#nav {
		width: 100%;
		place-items: end;
		grid-template-rows: 1fr;
		position: static;
		padding-left: 0;
		transform: translateX(0);
		height: 120px;
	}
	.primary-nav {
		order: 2;
		width: 74%;

		.nav-list {
			grid-auto-flow: column;
			height: auto;
			width: 100%;
		}
		.nav-items {
			font-weight: 900;
			align-self: center;
			justify-self: end;
			padding-bottom: 18px;
			margin-left: 32px;
		}
		.nav-link {
			padding-bottom: 18.9px;

			&:active {
			}
			&:hover {
			}
			&::after {
			}
			&:hover::after {
			}
		}
	}

	.secondary-nav {
		width: 41%;
		place-items: start;
		grid-template-columns: 1fr;
		justify-self: end;
		align-self: start;

		.social-list {
			width: 38%;
			font-weight: 900;
			display: grid;
			place-items: center;
			grid-auto-flow: column;
			grid-template-columns: repeat(auto-fill, minmax(33px, 1fr));
			justify-self: end;
			display: none;
		}
	}
	.nav-login {
		width: 67%;
		justify-self: end;
		min-height: auto;
		grid-template-rows: 1fr;
		align-self: start;
		.login-link {
			justify-self: end;
			grid-template-columns: repeat(auto-fill, minmax(26px, 1fr));
			align-self: center;
			margin-right: 10px;
			width: 63px;
		}
		button {
			align-self: end;
		}
	}
	.cart {
		align-self: start;
		margin: 16px 0;
		margin-left: 16px;
	}
}
