// font-face mixins
// @mixin poppins-regular {
//   font-family: "poppins-regular";
//   font-weight: normal;
//   font-style: normal;
//   @content;
// }

// @mixin poppins-semi {
//   font-family: "poppins-semi";
//   font-weight: 500;
//   font-style: normal;
//   @content;
// }

// @mixin poppins-bold {
//   font-family: "poppins-bold";
//   font-weight: 900;
//   font-style: normal;
//   @content;
// }
@mixin Fasthand {
  font-family: "Fasthand";
  font-weight: 900;
  font-style: normal;
  @content;
}

// font-size  mixins
@mixin font-properties(
  $text-size,
  $line-height: normal,
  $letter-spacing: normal
) {
  font-size: $text-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  @content;
}
// button-mixin
@mixin button($width) {
  border: none;
  font-weight: bolder;
  width: $width;
  @content;
}
//grid mixin
// mixin to create  columns  with same size

@mixin grid-center-columns($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat($columns, 1fr);
}
// mixin to create  rows with same size

@mixin grid-center-rows($rows) {
  grid-template-rows: repeat($rows, 1fr);
}
// mixin to create columns with diffrent size

@mixin grid-center-header($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat(auto-fill, minmax($columns, 1fr));
}
// mixin to create flexable columns  with diffrent size

@mixin grid-center-tabletHeader($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@mixin grid-center-flexable($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}

// mixin to create two rows with diffrent size
@mixin grid-diffrent-size($place-items, $row1-height, $row2-height, $border) {
  place-items: $place-items;
  grid-template-rows: $row1-height $row2-height;
  border: $border;
}

// mixins for media queries

// @mixin tablet {
//   @media (min-width: variables.$tablet-breakpoint) {
//     @content;
//   }
// }
@mixin tablet {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1000px) {
    @content;
  }
}
