// $italian-limegreen: #9caa8d;#E5EAEC #D1E0D7 #D1E0D7
$italian-limegreen: #d1e0d7;

$italian-limeLight: #deffbb;
// $itaian-black: #0e0d0d;#003349
$itaian-black: #003349;
$itaian-pureWhite: #ffffff;
$italian-white: #f4f9ff;
$italian-red: #ff3c00;
$italian-newRed: #cd212a;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
